In [20]:
import pandas as pd

# Ruta con doble backslash
ruta = "C:\\Users\\victo\\Downloads\\enriched-world-city-listing-complete.csv"

# Cargar CSV
df_cities = pd.read_csv(ruta)

print(df_cities.head())

   population       city     country      continent     city_in_Spanish  \
0    37115000      Tokyo       Japan           Asia               Tokio
1    33807400      Delhi       India           Asia               Delhi
2    29867900   Shanghai       China           Asia  Llevar a la fuerza
3    23935700      Dhaka  Bangladesh           Asia               Dacca
4    22806700  Sao Paulo      Brazil  South America           San Pablo

  city_in_Chinese city_in_Arabic city_in_Indonesian city_in_Swahili  \
0              东京          طوكيو              Tokyo           Tokyo
1              德里           دلهي              Delhi           Delhi
2              上海         شنغهاي      Kota Shanghai        Shanghai
3              达卡            دكا         Kota Dhaka           Dhaka
4             圣保罗      ساو باولو          Sao Paulo       São Paulo

  city_in_Tamil city_in_Turkish city_in_Finnish city_in_Japanese  \
0      டோக்கியோ           Tokyo           Tokio               東京
1        டெல்லி           Delhi           Delhi              デリー
2      ஷாங்காய்         Şanghay        Shanghai               上海
3        டாக்கா           Dakka           Dhaka              ダッカ
4     சாவ் பாலோ       Sao Paulo       São Paulo            サンパウロ

  city_in_Korean city_in_Vietnamese city_in_Thai
0             도쿄              Tokyo      โตเกียว
1             델리              Đê-li         เดลี
2            상하이         Thượng Hải    เซี่ยงไฮ้
3             다카             Đắc-ca         ธากา
4           상파울루          Sao Paulo     เซาเปาโล

In [21]:
import pandas as pd

# 🔹 1. Cargar el archivo que contiene las columnas adicionales
file_path_extra = r'C:\Users\victo\Downloads\enriched-world-city-listing-rus-por-fr.csv'
df_extra = pd.read_csv(file_path_extra)

# 🔹 2. Seleccionar solo las columnas que necesitas
df_extra_subset = df_extra[['city', 'city_in_Portuguese', 'city_in_French']]

# 🔹 3. Hacer el merge con df_cities por la columna 'city'
df_cities = df_cities.merge(df_extra_subset, on='city', how='left')

# 🔹 4. Verificar que las columnas se agregaron correctamente
print("\n✅ Columnas 'city_in_Portuguese' y 'city_in_French' agregadas a df_cities:")
print(df_cities[['city', 'city_in_Portuguese', 'city_in_French']].head(20))

✅ Columnas 'city_in_Portuguese' y 'city_in_French' agregadas a df_cities:
            city city_in_Portuguese city_in_French
0          Tokyo             Tóquio          Tokyo
1          Delhi              Délhi          Delhi
2       Shanghai             Xangai       Shanghai
3          Dhaka              Dhaka          Dhaka
4      Sao Paulo          Sao Paulo      São Paulo
5          Cairo              Cairo          Caire
6    Mexico City   Cidade do México        Mexique
7        Beijing             Pequim          Pékin
8         Mumbai             Mumbai         Mumbai
9          Osaka              Osaka          Osaka
10     Chongqing          Chongqing      Chongqing
11       Karachi            Carachi        Karachi
12      Kinshasa           Kinshasa       Kinshasa
13         Lagos              Lagos          Lagos
14      Istanbul           Istambul       Istanbul
15  Buenos Aires       Buenos Aires   Buenos Aires
16       Kolkata            Calcutá        Kolkata
17        Manila             Manila        Manille
18     Guangzhou          Guangzhou      Guangzhou
19       Tianjin            Tianjin        Tianjin

In [22]:
print(df_cities.head())

   population       city     country      continent     city_in_Spanish  \
0    37115000      Tokyo       Japan           Asia               Tokio
1    33807400      Delhi       India           Asia               Delhi
2    29867900   Shanghai       China           Asia  Llevar a la fuerza
3    23935700      Dhaka  Bangladesh           Asia               Dacca
4    22806700  Sao Paulo      Brazil  South America           San Pablo

  city_in_Chinese city_in_Arabic city_in_Indonesian city_in_Swahili  \
0              东京          طوكيو              Tokyo           Tokyo
1              德里           دلهي              Delhi           Delhi
2              上海         شنغهاي      Kota Shanghai        Shanghai
3              达卡            دكا         Kota Dhaka           Dhaka
4             圣保罗      ساو باولو          Sao Paulo       São Paulo

  city_in_Tamil city_in_Turkish city_in_Finnish city_in_Japanese  \
0      டோக்கியோ           Tokyo           Tokio               東京
1        டெல்லி           Delhi           Delhi              デリー
2      ஷாங்காய்         Şanghay        Shanghai               上海
3        டாக்கா           Dakka           Dhaka              ダッカ
4     சாவ் பாலோ       Sao Paulo       São Paulo            サンパウロ

  city_in_Korean city_in_Vietnamese city_in_Thai city_in_Portuguese  \
0             도쿄              Tokyo      โตเกียว             Tóquio
1             델리              Đê-li         เดลี              Délhi
2            상하이         Thượng Hải    เซี่ยงไฮ้             Xangai
3             다카             Đắc-ca         ธากา              Dhaka
4           상파울루          Sao Paulo     เซาเปาโล          Sao Paulo

  city_in_French
0          Tokyo
1          Delhi
2       Shanghai
3          Dhaka
4      São Paulo

In [23]:
# 🔹 Cargar posiciones finales en inglés
df_pos_en = pd.read_csv('posiciones_ciudades_final_EN.csv')

# 🔹 Merge limpio
df_cities = df_cities.merge(
    df_pos_en.rename(columns={'palabra': 'city', 'posición': 'en_posiciones'}), 
    on='city', 
    how='left'
)

# 🔹 Revisar faltantes
missing = df_cities[df_cities['en_posiciones'].isin(['none', 0]) | df_cities['en_posiciones'].isna()]

print("\n✅ DataFrame final con 'en_posiciones' (ya sin duplicados):\n")
print(df_cities.head(20))

print(f"\n⚠️ Ciudades sin posición asignada (total: {len(missing)}):\n")
print(missing[['city', 'en_posiciones']])

✅ DataFrame final con 'en_posiciones' (ya sin duplicados):

    population          city      country      continent     city_in_Spanish  \
0     37115000         Tokyo        Japan           Asia               Tokio
1     33807400         Delhi        India           Asia               Delhi
2     29867900      Shanghai        China           Asia  Llevar a la fuerza
3     23935700         Dhaka   Bangladesh           Asia               Dacca
4     22806700     Sao Paulo       Brazil  South America           San Pablo
5     22623900         Cairo        Egypt         Africa            El Cairo
6     22505300   Mexico City       Mexico  North America    Ciudad de México
7     22189100       Beijing        China           Asia               Pekín
8     21673100        Mumbai        India           Asia              Bombay
9     18967500         Osaka        Japan           Asia               Osaka
10    17773900     Chongqing        China           Asia           Chongqing
11    17648600       Karachi     Pakistan           Asia             Karachi
12    17032300      Kinshasa     DR Congo         Africa            Kinshasa
13    16536000         Lagos      Nigeria         Africa               Lagos
14    16047400      Istanbul       Turkey           Asia            Estanbul
15    15618300  Buenos Aires    Argentina  South America        Buenos Aires
16    15570800       Kolkata        India           Asia             Calcuta
17    14942000        Manila  Philippines           Asia              Manila
18    14590100     Guangzhou        China           Asia              Cantón
19    14470900       Tianjin        China           Asia             Tianjin

   city_in_Chinese city_in_Arabic city_in_Indonesian city_in_Swahili  \
0               东京          طوكيو              Tokyo           Tokyo
1               德里           دلهي              Delhi           Delhi
2               上海         شنغهاي      Kota Shanghai        Shanghai
3               达卡            دكا         Kota Dhaka           Dhaka
4              圣保罗      ساو باولو          Sao Paulo       São Paulo
5               开罗        القاهرة              Kairo           Cairo
6             墨西哥城   مدينة مكسيكو       Kota Meksiko     Mexico City
7               北京           بكين       Kota Beijing         Beijing
8               孟买         مومباي             Mumbai          Mumbai
9               大阪         أوساكا              Osaka           Osaka
10              重庆     تشونغتشينغ     Kota Chongqing       Chongqing
11             卡拉奇         كراتشي            Karachi         Karachi
12             金沙萨        كينشاسا      Kota Kinshasa        Kinshasa
13             拉各斯          لاغوس         Kota Lagos           Lagos
14           伊斯坦布尔        اسطنبول           Istanbul        Istanbul
15         布宜诺斯艾利斯     بوينس آيرس       Buenos Aires    Buenos Aires
16            加尔各答        كولكاتا            Kolkata         Kolkata
17             马尼拉         مانيلا        Kota Manila          Manila
18              广州       قوانغتشو     Kota Guangzhou       Guangzhou
19              天津        تيانجين       Kota Tianjin         Tianjin

     city_in_Tamil city_in_Turkish city_in_Finnish city_in_Japanese  \
0         டோக்கியோ           Tokyo           Tokio               東京
1           டெல்லி           Delhi           Delhi              デリー
2         ஷாங்காய்         Şanghay        Shanghai               上海
3           டாக்கா           Dakka           Dhaka              ダッカ
4        சாவ் பாலோ       Sao Paulo       São Paulo            サンパウロ
5           கெய்ரோ          Kahire           Kairo              カイロ
6   மெக்சிகோ நகரம்   Meksika Şehri     Mexico City          メキシコシティ
7         பெய்ஜிங்           Pekin          Peking               北京
8           மும்பை          Bombay          Mumbai             ムンバイ
9            ஒசாகா           Osaka           Osaka               大阪
10        சோங்கிங்        Çongçing       Chongqing               重慶
11         கராச்சி          Karaçi         Karachi              カラチ
12        கின்ஷாசா         Kinşasa        Kinshasa            キンシャサ
13          லாகோஸ்           Lagos           Lagos              ラゴス
14     இஸ்தான்புல்        İstanbul        Istanbul          イスタンブール
15  பியூனஸ் அயர்ஸ்    Buenos Aires    Buenos Aires         ブエノスアイレス
16       கொல்கத்தா         Kalküta         Kolkata             コルカタ
17           மணிலா          Manila          Manila              マニラ
18        குவாங்சோ       Guangzhou       Guangzhou               広州
19      தியான்ஜின்         Tianjin         Tianjin               天津

   city_in_Korean city_in_Vietnamese   city_in_Thai city_in_Portuguese  \
0              도쿄              Tokyo        โตเกียว             Tóquio
1              델리              Đê-li           เดลี              Délhi
2             상하이         Thượng Hải      เซี่ยงไฮ้             Xangai
3              다카             Đắc-ca           ธากา              Dhaka
4            상파울루          Sao Paulo       เซาเปาโล          Sao Paulo
5             카이로              Cairo           ไคโร              Cairo
6          멕시코 시티   Thành phố Mexico  เม็กซิโกซิตี้   Cidade do México
7             베이징           Bắc Kinh        ปักกิ่ง             Pequim
8             뭄바이             Mumbai          มุมไบ             Mumbai
9             오사카              Osaka        โอซาก้า              Osaka
10             충칭        Trùng Khánh         ฉงชิ่ง          Chongqing
11            카라치            Karachi         การาจี            Carachi
12            킨샤사           Kinshasa        กินชาซา           Kinshasa
13            라고스              Lagos          ลากอส              Lagos
14           이스탄불           Istanbul      อิสตันบูล           Istambul
15      부에노스 아이레스       Buenos Aires    บัวโนสไอเรส       Buenos Aires
16            콜카타            Kolkata        โกลกาตา            Calcutá
17            마닐라             Manila         มะนิลา             Manila
18            광저우         Quảng Châu       กว่างโจว          Guangzhou
19             톈진          Thiên Tân       เทียนจิน            Tianjin

   city_in_French en_posiciones
0           Tokyo          5872
1           Delhi          4853
2        Shanghai          9021
3           Dhaka         22451
4       São Paulo         24092
5           Caire         12249
6         Mexique          2258
7           Pékin          7223
8          Mumbai          6388
9           Osaka         20495
10      Chongqing         45959
11        Karachi         21056
12       Kinshasa         67647
13          Lagos         17041
14       Istanbul         12656
15   Buenos Aires         15101
16        Kolkata         15268
17        Manille         12339
18      Guangzhou         26711
19        Tianjin         42219

⚠️ Ciudades sin posición asignada (total: 12):

               city en_posiciones
331        Qiqihaer          none
351        Gaoxiong          none
390           Liuan          none
408          Suweon          none
517       Ma'anshan          none
673          Kuerle          none
682  Hufuf-Mubarraz          none
694        Banghazi          none
732           Anqiu          none
737        Hanchuan          none
759  Erduosi-Ordoss          none
763          Yan'an          none

In [24]:
# 🔹 1. Cargar los dos CSVs de posiciones en español
df_original_sp = pd.read_csv('posiciones_ciudades_originales.csv')
df_corregidas_sp = pd.read_csv('posiciones_ciudades_corregidas.csv')

# 🔹 2. Función para limpiar las ciudades
def limpiar_palabra(ciudad):
    return ciudad.rstrip(',').strip()

# 🔹 3. Limpiar ambas tablas
df_original_sp['palabra'] = df_original_sp['palabra'].apply(limpiar_palabra)
df_corregidas_sp['palabra'] = df_corregidas_sp['palabra'].apply(limpiar_palabra)

# 🔹 4. Convertir 'posición' a numérico
df_original_sp['posición'] = pd.to_numeric(df_original_sp['posición'], errors='coerce')
df_corregidas_sp['posición'] = pd.to_numeric(df_corregidas_sp['posición'], errors='coerce')

# 🔹 5. Concatenar y ordenar
df_final_sp = pd.concat([df_original_sp, df_corregidas_sp]).sort_values(by=['palabra', 'posición'])
df_final_sp = df_final_sp.drop_duplicates(subset=['palabra'], keep='first')

# 🔹 6. Orden final
df_final_sp = df_final_sp.sort_values(by='posición', na_position='last')
df_final_sp['posición'] = df_final_sp['posición'].apply(lambda x: 'none' if pd.isna(x) else int(x))

# 🔹 7. Merge limpio (evitamos duplicados)
if 'sp_posiciones' in df_cities.columns:
    df_cities = df_cities.drop(columns=['sp_posiciones'])

df_cities = df_cities.merge(
    df_final_sp.rename(columns={'palabra': 'city_in_Spanish', 'posición': 'sp_posiciones'}), 
    on='city_in_Spanish', 
    how='left'
)

# 🔹 8. Verificar faltantes
missing_sp = df_cities[df_cities['sp_posiciones'].isin(['none', 0]) | df_cities['sp_posiciones'].isna()]

# 🔹 9. Imprimir TODO el DataFrame para ver cómo quedó la tabla completa
print("\n✅ DataFrame completo con 'sp_posiciones' agregado:\n")
print(df_cities.head(20))  # si quieres ver más filas cambia el 20 por un número mayor

print(f"\n⚠️ Ciudades en español sin posición asignada (total: {len(missing_sp)}):\n")
print(missing_sp[['city_in_Spanish', 'sp_posiciones']])

✅ DataFrame completo con 'sp_posiciones' agregado:

    population          city      country      continent     city_in_Spanish  \
0     37115000         Tokyo        Japan           Asia               Tokio
1     33807400         Delhi        India           Asia               Delhi
2     29867900      Shanghai        China           Asia  Llevar a la fuerza
3     23935700         Dhaka   Bangladesh           Asia               Dacca
4     22806700     Sao Paulo       Brazil  South America           San Pablo
5     22623900         Cairo        Egypt         Africa            El Cairo
6     22505300   Mexico City       Mexico  North America    Ciudad de México
7     22189100       Beijing        China           Asia               Pekín
8     21673100        Mumbai        India           Asia              Bombay
9     18967500         Osaka        Japan           Asia               Osaka
10    17773900     Chongqing        China           Asia           Chongqing
11    17648600       Karachi     Pakistan           Asia             Karachi
12    17032300      Kinshasa     DR Congo         Africa            Kinshasa
13    16536000         Lagos      Nigeria         Africa               Lagos
14    16047400      Istanbul       Turkey           Asia            Estanbul
15    15618300  Buenos Aires    Argentina  South America        Buenos Aires
16    15570800       Kolkata        India           Asia             Calcuta
17    14942000        Manila  Philippines           Asia              Manila
18    14590100     Guangzhou        China           Asia              Cantón
19    14470900       Tianjin        China           Asia             Tianjin

   city_in_Chinese city_in_Arabic city_in_Indonesian city_in_Swahili  \
0               东京          طوكيو              Tokyo           Tokyo
1               德里           دلهي              Delhi           Delhi
2               上海         شنغهاي      Kota Shanghai        Shanghai
3               达卡            دكا         Kota Dhaka           Dhaka
4              圣保罗      ساو باولو          Sao Paulo       São Paulo
5               开罗        القاهرة              Kairo           Cairo
6             墨西哥城   مدينة مكسيكو       Kota Meksiko     Mexico City
7               北京           بكين       Kota Beijing         Beijing
8               孟买         مومباي             Mumbai          Mumbai
9               大阪         أوساكا              Osaka           Osaka
10              重庆     تشونغتشينغ     Kota Chongqing       Chongqing
11             卡拉奇         كراتشي            Karachi         Karachi
12             金沙萨        كينشاسا      Kota Kinshasa        Kinshasa
13             拉各斯          لاغوس         Kota Lagos           Lagos
14           伊斯坦布尔        اسطنبول           Istanbul        Istanbul
15         布宜诺斯艾利斯     بوينس آيرس       Buenos Aires    Buenos Aires
16            加尔各答        كولكاتا            Kolkata         Kolkata
17             马尼拉         مانيلا        Kota Manila          Manila
18              广州       قوانغتشو     Kota Guangzhou       Guangzhou
19              天津        تيانجين       Kota Tianjin         Tianjin

     city_in_Tamil city_in_Turkish city_in_Finnish city_in_Japanese  \
0         டோக்கியோ           Tokyo           Tokio               東京
1           டெல்லி           Delhi           Delhi              デリー
2         ஷாங்காய்         Şanghay        Shanghai               上海
3           டாக்கா           Dakka           Dhaka              ダッカ
4        சாவ் பாலோ       Sao Paulo       São Paulo            サンパウロ
5           கெய்ரோ          Kahire           Kairo              カイロ
6   மெக்சிகோ நகரம்   Meksika Şehri     Mexico City          メキシコシティ
7         பெய்ஜிங்           Pekin          Peking               北京
8           மும்பை          Bombay          Mumbai             ムンバイ
9            ஒசாகா           Osaka           Osaka               大阪
10        சோங்கிங்        Çongçing       Chongqing               重慶
11         கராச்சி          Karaçi         Karachi              カラチ
12        கின்ஷாசா         Kinşasa        Kinshasa            キンシャサ
13          லாகோஸ்           Lagos           Lagos              ラゴス
14     இஸ்தான்புல்        İstanbul        Istanbul          イスタンブール
15  பியூனஸ் அயர்ஸ்    Buenos Aires    Buenos Aires         ブエノスアイレス
16       கொல்கத்தா         Kalküta         Kolkata             コルカタ
17           மணிலா          Manila          Manila              マニラ
18        குவாங்சோ       Guangzhou       Guangzhou               広州
19      தியான்ஜின்         Tianjin         Tianjin               天津

   city_in_Korean city_in_Vietnamese   city_in_Thai city_in_Portuguese  \
0              도쿄              Tokyo        โตเกียว             Tóquio
1              델리              Đê-li           เดลี              Délhi
2             상하이         Thượng Hải      เซี่ยงไฮ้             Xangai
3              다카             Đắc-ca           ธากา              Dhaka
4            상파울루          Sao Paulo       เซาเปาโล          Sao Paulo
5             카이로              Cairo           ไคโร              Cairo
6          멕시코 시티   Thành phố Mexico  เม็กซิโกซิตี้   Cidade do México
7             베이징           Bắc Kinh        ปักกิ่ง             Pequim
8             뭄바이             Mumbai          มุมไบ             Mumbai
9             오사카              Osaka        โอซาก้า              Osaka
10             충칭        Trùng Khánh         ฉงชิ่ง          Chongqing
11            카라치            Karachi         การาจี            Carachi
12            킨샤사           Kinshasa        กินชาซา           Kinshasa
13            라고스              Lagos          ลากอส              Lagos
14           이스탄불           Istanbul      อิสตันบูล           Istambul
15      부에노스 아이레스       Buenos Aires    บัวโนสไอเรส       Buenos Aires
16            콜카타            Kolkata        โกลกาตา            Calcutá
17            마닐라             Manila         มะนิลา             Manila
18            광저우         Quảng Châu       กว่างโจว          Guangzhou
19             톈진          Thiên Tân       เทียนจิน            Tianjin

   city_in_French en_posiciones sp_posiciones
0           Tokyo          5872          7624
1           Delhi          4853         22845
2        Shanghai          9021         26129
3           Dhaka         22451        217225
4       São Paulo         24092          1136
5           Caire         12249         14915
6         Mexique          2258           810
7           Pékin          7223         11110
8          Mumbai          6388         30581
9           Osaka         20495         23167
10      Chongqing         45959         76342
11        Karachi         21056         81600
12       Kinshasa         67647         99986
13          Lagos         17041         10952
14       Istanbul         12656        479219
15   Buenos Aires         15101           854
16        Kolkata         15268         32627
17        Manille         12339         22288
18      Guangzhou         26711         14439
19        Tianjin         42219         71455

⚠️ Ciudades en español sin posición asignada (total: 44):

       city_in_Spanish sp_posiciones
27             Jacarta          none
41               Xi'an          none
55              Foshán          none
59             Haerbin          none
164            Huai'an          none
174  Tiruvananthapuram          none
188          Mogadisio          none
235             Putián          none
240             Collam          none
276    ¿Puedes aunque?          none
290             meerut          none
331           Qiqihaer          none
351           Gaoxiong          none
390              Liuan          none
404           Taizhong          none
417            Yingkóu          none
470             Pizhou          none
475            Xiongán          none
479              benxi          none
499           Shimkent          none
504           Sinxiang          none
522           Tshikapa          none
571             Xintai          none
575               Hamá          none
608            Guigang          none
625              Lilín          none
655           Bhiwandi          none
662            Changdé          none
673             Cuerle          none
674         Soshanguve          none
678          Cherthala          none
680              Fuxín          none
682     Hufuf-Mubarraz          none
708           Orumiyeh          none
732              anqiu          none
737           Hanchuan          none
738            Meishán          none
743         Kayamkulam          none
759     Erduosi-Ordoss          none
763             Yan'an          none
771           Malegaón          none
775           yuncheng          none
777              ¿Qué?          none
799            Dongtai          none

In [25]:
# 🔹 1. Cargar los dos CSVs de posiciones en chino
df_original_ch = pd.read_csv('posiciones_ciudades_CH.csv')
df_corregidas_ch = pd.read_csv('posiciones_ciudades_corregidas_CH.csv')

# 🔹 2. Convertir la columna 'posición' a numérico
df_original_ch['posición'] = pd.to_numeric(df_original_ch['posición'], errors='coerce')
df_corregidas_ch['posición'] = pd.to_numeric(df_corregidas_ch['posición'], errors='coerce')

# 🔹 3. Concatenar y ordenar
df_final_ch = pd.concat([df_original_ch, df_corregidas_ch]).sort_values(by=['palabra', 'posición'])
df_final_ch = df_final_ch.drop_duplicates(subset=['palabra'], keep='first')

# 🔹 4. Orden final
df_final_ch = df_final_ch.sort_values(by='posición', na_position='last')
df_final_ch['posición'] = df_final_ch['posición'].apply(lambda x: 'none' if pd.isna(x) else int(x))

# 🔹 5. Merge limpio
if 'ch_posiciones' in df_cities.columns:
    df_cities = df_cities.drop(columns=['ch_posiciones'])

df_cities = df_cities.merge(
    df_final_ch.rename(columns={'palabra': 'city_in_Chinese', 'posición': 'ch_posiciones'}), 
    on='city_in_Chinese', 
    how='left'
)

# 🔹 6. Verificar faltantes
missing_ch = df_cities[df_cities['ch_posiciones'].isin(['none', 0]) | df_cities['ch_posiciones'].isna()]

# 🔹 7. Imprimir TODO el DataFrame completo
print("\n✅ DataFrame completo con 'ch_posiciones' agregado:\n")
print(df_cities.head(20))  # puedes cambiar a más filas si lo necesitas

print(f"\n⚠️ Ciudades en chino sin posición asignada (total: {len(missing_ch)}):\n")
print(missing_ch[['city_in_Chinese', 'ch_posiciones']])

✅ DataFrame completo con 'ch_posiciones' agregado:

    population          city      country      continent     city_in_Spanish  \
0     37115000         Tokyo        Japan           Asia               Tokio
1     33807400         Delhi        India           Asia               Delhi
2     29867900      Shanghai        China           Asia  Llevar a la fuerza
3     23935700         Dhaka   Bangladesh           Asia               Dacca
4     22806700     Sao Paulo       Brazil  South America           San Pablo
5     22623900         Cairo        Egypt         Africa            El Cairo
6     22505300   Mexico City       Mexico  North America    Ciudad de México
7     22189100       Beijing        China           Asia               Pekín
8     21673100        Mumbai        India           Asia              Bombay
9     18967500         Osaka        Japan           Asia               Osaka
10    17773900     Chongqing        China           Asia           Chongqing
11    17648600       Karachi     Pakistan           Asia             Karachi
12    17032300      Kinshasa     DR Congo         Africa            Kinshasa
13    16536000         Lagos      Nigeria         Africa               Lagos
14    16047400      Istanbul       Turkey           Asia            Estanbul
15    15618300  Buenos Aires    Argentina  South America        Buenos Aires
16    15570800       Kolkata        India           Asia             Calcuta
17    14942000        Manila  Philippines           Asia              Manila
18    14590100     Guangzhou        China           Asia              Cantón
19    14470900       Tianjin        China           Asia             Tianjin

   city_in_Chinese city_in_Arabic city_in_Indonesian city_in_Swahili  \
0               东京          طوكيو              Tokyo           Tokyo
1               德里           دلهي              Delhi           Delhi
2               上海         شنغهاي      Kota Shanghai        Shanghai
3               达卡            دكا         Kota Dhaka           Dhaka
4              圣保罗      ساو باولو          Sao Paulo       São Paulo
5               开罗        القاهرة              Kairo           Cairo
6             墨西哥城   مدينة مكسيكو       Kota Meksiko     Mexico City
7               北京           بكين       Kota Beijing         Beijing
8               孟买         مومباي             Mumbai          Mumbai
9               大阪         أوساكا              Osaka           Osaka
10              重庆     تشونغتشينغ     Kota Chongqing       Chongqing
11             卡拉奇         كراتشي            Karachi         Karachi
12             金沙萨        كينشاسا      Kota Kinshasa        Kinshasa
13             拉各斯          لاغوس         Kota Lagos           Lagos
14           伊斯坦布尔        اسطنبول           Istanbul        Istanbul
15         布宜诺斯艾利斯     بوينس آيرس       Buenos Aires    Buenos Aires
16            加尔各答        كولكاتا            Kolkata         Kolkata
17             马尼拉         مانيلا        Kota Manila          Manila
18              广州       قوانغتشو     Kota Guangzhou       Guangzhou
19              天津        تيانجين       Kota Tianjin         Tianjin

     city_in_Tamil  ... city_in_Finnish city_in_Japanese city_in_Korean  \
0         டோக்கியோ  ...           Tokio               東京             도쿄
1           டெல்லி  ...           Delhi              デリー             델리
2         ஷாங்காய்  ...        Shanghai               上海            상하이
3           டாக்கா  ...           Dhaka              ダッカ             다카
4        சாவ் பாலோ  ...       São Paulo            サンパウロ           상파울루
5           கெய்ரோ  ...           Kairo              カイロ            카이로
6   மெக்சிகோ நகரம்  ...     Mexico City          メキシコシティ         멕시코 시티
7         பெய்ஜிங்  ...          Peking               北京            베이징
8           மும்பை  ...          Mumbai             ムンバイ            뭄바이
9            ஒசாகா  ...           Osaka               大阪            오사카
10        சோங்கிங்  ...       Chongqing               重慶             충칭
11         கராச்சி  ...         Karachi              カラチ            카라치
12        கின்ஷாசா  ...        Kinshasa            キンシャサ            킨샤사
13          லாகோஸ்  ...           Lagos              ラゴス            라고스
14     இஸ்தான்புல்  ...        Istanbul          イスタンブール           이스탄불
15  பியூனஸ் அயர்ஸ்  ...    Buenos Aires         ブエノスアイレス      부에노스 아이레스
16       கொல்கத்தா  ...         Kolkata             コルカタ            콜카타
17           மணிலா  ...          Manila              マニラ            마닐라
18        குவாங்சோ  ...       Guangzhou               広州            광저우
19      தியான்ஜின்  ...         Tianjin               天津             톈진

   city_in_Vietnamese   city_in_Thai city_in_Portuguese city_in_French  \
0               Tokyo        โตเกียว             Tóquio          Tokyo
1               Đê-li           เดลี              Délhi          Delhi
2          Thượng Hải      เซี่ยงไฮ้             Xangai       Shanghai
3              Đắc-ca           ธากา              Dhaka          Dhaka
4           Sao Paulo       เซาเปาโล          Sao Paulo      São Paulo
5               Cairo           ไคโร              Cairo          Caire
6    Thành phố Mexico  เม็กซิโกซิตี้   Cidade do México        Mexique
7            Bắc Kinh        ปักกิ่ง             Pequim          Pékin
8              Mumbai          มุมไบ             Mumbai         Mumbai
9               Osaka        โอซาก้า              Osaka          Osaka
10        Trùng Khánh         ฉงชิ่ง          Chongqing      Chongqing
11            Karachi         การาจี            Carachi        Karachi
12           Kinshasa        กินชาซา           Kinshasa       Kinshasa
13              Lagos          ลากอส              Lagos          Lagos
14           Istanbul      อิสตันบูล           Istambul       Istanbul
15       Buenos Aires    บัวโนสไอเรส       Buenos Aires   Buenos Aires
16            Kolkata        โกลกาตา            Calcutá        Kolkata
17             Manila         มะนิลา             Manila        Manille
18         Quảng Châu       กว่างโจว          Guangzhou      Guangzhou
19          Thiên Tân       เทียนจิน            Tianjin        Tianjin

   en_posiciones sp_posiciones ch_posiciones
0           5872          7624          4662
1           4853         22845         11384
2           9021         26129           344
3          22451        217225         82180
4          24092          1136         27780
5          12249         14915         27651
6           2258           810         36649
7           7223         11110           172
8           6388         30581         35115
9          20495         23167          4818
10         45959         76342          1451
11         21056         81600         65375
12         67647         99986        163932
13         17041         10952         98664
14         12656        479219         26448
15         15101           854         48322
16         15268         32627         61341
17         12339         22288         30532
18         26711         14439          1114
19         42219         71455          1374

[20 rows x 21 columns]

⚠️ Ciudades en chino sin posición asignada (total: 77):

    city_in_Chinese ch_posiciones
164          Huaian          none
213           拉瓦尔品第          none
312          Suqian          none
320        Hengyang          none
323             奥尼查          none
..              ...           ...
782        Tongliao          none
787          Wuzhou          none
788          Dazhou          none
791         Jiamusi          none
809       Panzhihua          none

[77 rows x 2 columns]

In [26]:
# 🔹 1. Cargar los dos CSVs de posiciones en Swahili
df_original_sw = pd.read_csv('posiciones_ciudades_SW.csv')
df_corregidas_sw = pd.read_csv('posiciones_ciudades_corregidas_SW.csv')

# 🔹 2. Convertir la columna 'posición' a numérico
df_original_sw['posición'] = pd.to_numeric(df_original_sw['posición'], errors='coerce')
df_corregidas_sw['posición'] = pd.to_numeric(df_corregidas_sw['posición'], errors='coerce')

# 🔹 3. Concatenar y ordenar
df_final_sw = pd.concat([df_original_sw, df_corregidas_sw]).sort_values(by=['palabra', 'posición'])
df_final_sw = df_final_sw.drop_duplicates(subset=['palabra'], keep='first')

# 🔹 4. Orden final
df_final_sw = df_final_sw.sort_values(by='posición', na_position='last')
df_final_sw['posición'] = df_final_sw['posición'].apply(lambda x: 'none' if pd.isna(x) else int(x))

# 🔹 5. Merge limpio (evitamos duplicados)
if 'sw_posiciones' in df_cities.columns:
    df_cities = df_cities.drop(columns=['sw_posiciones'])

df_cities = df_cities.merge(
    df_final_sw.rename(columns={'palabra': 'city_in_Swahili', 'posición': 'sw_posiciones'}), 
    on='city_in_Swahili', 
    how='left'
)

# 🔹 6. Verificar faltantes
missing_sw = df_cities[df_cities['sw_posiciones'].isin(['none', 0]) | df_cities['sw_posiciones'].isna()]

# 🔹 7. Imprimir TODO el DataFrame completo para validar
print("\n✅ DataFrame completo con 'sw_posiciones' agregado:\n")
print(df_cities.head(20))

print(f"\n⚠️ Ciudades en swahili sin posición asignada (total: {len(missing_sw)}):\n")
print(missing_sw[['city_in_Swahili', 'sw_posiciones']])

✅ DataFrame completo con 'sw_posiciones' agregado:

    population          city      country      continent     city_in_Spanish  \
0     37115000         Tokyo        Japan           Asia               Tokio
1     33807400         Delhi        India           Asia               Delhi
2     29867900      Shanghai        China           Asia  Llevar a la fuerza
3     23935700         Dhaka   Bangladesh           Asia               Dacca
4     22806700     Sao Paulo       Brazil  South America           San Pablo
5     22623900         Cairo        Egypt         Africa            El Cairo
6     22505300   Mexico City       Mexico  North America    Ciudad de México
7     22189100       Beijing        China           Asia               Pekín
8     21673100        Mumbai        India           Asia              Bombay
9     18967500         Osaka        Japan           Asia               Osaka
10    17773900     Chongqing        China           Asia           Chongqing
11    17648600       Karachi     Pakistan           Asia             Karachi
12    17032300      Kinshasa     DR Congo         Africa            Kinshasa
13    16536000         Lagos      Nigeria         Africa               Lagos
14    16047400      Istanbul       Turkey           Asia            Estanbul
15    15618300  Buenos Aires    Argentina  South America        Buenos Aires
16    15570800       Kolkata        India           Asia             Calcuta
17    14942000        Manila  Philippines           Asia              Manila
18    14590100     Guangzhou        China           Asia              Cantón
19    14470900       Tianjin        China           Asia             Tianjin

   city_in_Chinese city_in_Arabic city_in_Indonesian city_in_Swahili  \
0               东京          طوكيو              Tokyo           Tokyo
1               德里           دلهي              Delhi           Delhi
2               上海         شنغهاي      Kota Shanghai        Shanghai
3               达卡            دكا         Kota Dhaka           Dhaka
4              圣保罗      ساو باولو          Sao Paulo       São Paulo
5               开罗        القاهرة              Kairo           Cairo
6             墨西哥城   مدينة مكسيكو       Kota Meksiko     Mexico City
7               北京           بكين       Kota Beijing         Beijing
8               孟买         مومباي             Mumbai          Mumbai
9               大阪         أوساكا              Osaka           Osaka
10              重庆     تشونغتشينغ     Kota Chongqing       Chongqing
11             卡拉奇         كراتشي            Karachi         Karachi
12             金沙萨        كينشاسا      Kota Kinshasa        Kinshasa
13             拉各斯          لاغوس         Kota Lagos           Lagos
14           伊斯坦布尔        اسطنبول           Istanbul        Istanbul
15         布宜诺斯艾利斯     بوينس آيرس       Buenos Aires    Buenos Aires
16            加尔各答        كولكاتا            Kolkata         Kolkata
17             马尼拉         مانيلا        Kota Manila          Manila
18              广州       قوانغتشو     Kota Guangzhou       Guangzhou
19              天津        تيانجين       Kota Tianjin         Tianjin

     city_in_Tamil  ... city_in_Japanese city_in_Korean city_in_Vietnamese  \
0         டோக்கியோ  ...               東京             도쿄              Tokyo
1           டெல்லி  ...              デリー             델리              Đê-li
2         ஷாங்காய்  ...               上海            상하이         Thượng Hải
3           டாக்கா  ...              ダッカ             다카             Đắc-ca
4        சாவ் பாலோ  ...            サンパウロ           상파울루          Sao Paulo
5           கெய்ரோ  ...              カイロ            카이로              Cairo
6   மெக்சிகோ நகரம்  ...          メキシコシティ         멕시코 시티   Thành phố Mexico
7         பெய்ஜிங்  ...               北京            베이징           Bắc Kinh
8           மும்பை  ...             ムンバイ            뭄바이             Mumbai
9            ஒசாகா  ...               大阪            오사카              Osaka
10        சோங்கிங்  ...               重慶             충칭        Trùng Khánh
11         கராச்சி  ...              カラチ            카라치            Karachi
12        கின்ஷாசா  ...            キンシャサ            킨샤사           Kinshasa
13          லாகோஸ்  ...              ラゴス            라고스              Lagos
14     இஸ்தான்புல்  ...          イスタンブール           이스탄불           Istanbul
15  பியூனஸ் அயர்ஸ்  ...         ブエノスアイレス      부에노스 아이레스       Buenos Aires
16       கொல்கத்தா  ...             コルカタ            콜카타            Kolkata
17           மணிலா  ...              マニラ            마닐라             Manila
18        குவாங்சோ  ...               広州            광저우         Quảng Châu
19      தியான்ஜின்  ...               天津             톈진          Thiên Tân

     city_in_Thai city_in_Portuguese city_in_French en_posiciones  \
0         โตเกียว             Tóquio          Tokyo          5872
1            เดลี              Délhi          Delhi          4853
2       เซี่ยงไฮ้             Xangai       Shanghai          9021
3            ธากา              Dhaka          Dhaka         22451
4        เซาเปาโล          Sao Paulo      São Paulo         24092
5            ไคโร              Cairo          Caire         12249
6   เม็กซิโกซิตี้   Cidade do México        Mexique          2258
7         ปักกิ่ง             Pequim          Pékin          7223
8           มุมไบ             Mumbai         Mumbai          6388
9         โอซาก้า              Osaka          Osaka         20495
10         ฉงชิ่ง          Chongqing      Chongqing         45959
11         การาจี            Carachi        Karachi         21056
12        กินชาซา           Kinshasa       Kinshasa         67647
13          ลากอส              Lagos          Lagos         17041
14      อิสตันบูล           Istambul       Istanbul         12656
15    บัวโนสไอเรส       Buenos Aires   Buenos Aires         15101
16        โกลกาตา            Calcutá        Kolkata         15268
17         มะนิลา             Manila        Manille         12339
18       กว่างโจว          Guangzhou      Guangzhou         26711
19       เทียนจิน            Tianjin        Tianjin         42219

   sp_posiciones ch_posiciones sw_posiciones
0           7624          4662          4852
1          22845         11384          6482
2          26129           344          9130
3         217225         82180         19070
4           1136         27780          5076
5          14915         27651          5852
6            810         36649          2565
7          11110           172          5001
8          30581         35115          8969
9          23167          4818         12672
10         76342          1451         84346
11         81600         65375          9797
12         99986        163932          3885
13         10952         98664          3457
14        479219         26448          3851
15           854         48322          6101
16         32627         61341          8407
17         22288         30532         13420
18         14439          1114         23404
19         71455          1374         49341

[20 rows x 22 columns]

⚠️ Ciudades en swahili sin posición asignada (total: 163):

    city_in_Swahili sw_posiciones
41            Xi'an          none
59          Haerbin          none
86           Urumqi          none
112      Malappuram          none
121         Xiameni          none
..              ...           ...
794        Sargodha          none
798          Bacoor          none
799         Dongtai          none
800    Zhangjiagang          none
804           Zarqa          none

[163 rows x 2 columns]

In [27]:
# 🔹 1. Cargar los dos CSVs de posiciones en tamil
df_original_ta = pd.read_csv('posiciones_ciudades_TA.csv')
df_corregidas_ta = pd.read_csv('posiciones_ciudades_corregidas_TA.csv')

# 🔹 2. Convertir la columna 'posición' a numérico
df_original_ta['posición'] = pd.to_numeric(df_original_ta['posición'], errors='coerce')
df_corregidas_ta['posición'] = pd.to_numeric(df_corregidas_ta['posición'], errors='coerce')

# 🔹 3. Concatenar y ordenar
df_final_ta = pd.concat([df_original_ta, df_corregidas_ta]).sort_values(by=['palabra', 'posición'])
df_final_ta = df_final_ta.drop_duplicates(subset=['palabra'], keep='first')

# 🔹 4. Orden final
df_final_ta = df_final_ta.sort_values(by='posición', na_position='last')
df_final_ta['posición'] = df_final_ta['posición'].apply(lambda x: 'none' if pd.isna(x) else int(x))

# 🔹 5. Merge limpio (evitamos duplicados)
if 'ta_posiciones' in df_cities.columns:
    df_cities = df_cities.drop(columns=['ta_posiciones'])

df_cities = df_cities.merge(
    df_final_ta.rename(columns={'palabra': 'city_in_Tamil', 'posición': 'ta_posiciones'}), 
    on='city_in_Tamil', 
    how='left'
)

# 🔹 6. Verificar faltantes
missing_ta = df_cities[df_cities['ta_posiciones'].isin(['none', 0]) | df_cities['ta_posiciones'].isna()]

# 🔹 7. Imprimir TODO el DataFrame completo para validar
print("\n✅ DataFrame completo con 'ta_posiciones' agregado:\n")
print(df_cities.head(20))

print(f"\n⚠️ Ciudades en tamil sin posición asignada (total: {len(missing_ta)}):\n")
print(missing_ta[['city_in_Tamil', 'ta_posiciones']])

✅ DataFrame completo con 'ta_posiciones' agregado:

    population          city      country      continent     city_in_Spanish  \
0     37115000         Tokyo        Japan           Asia               Tokio
1     33807400         Delhi        India           Asia               Delhi
2     29867900      Shanghai        China           Asia  Llevar a la fuerza
3     23935700         Dhaka   Bangladesh           Asia               Dacca
4     22806700     Sao Paulo       Brazil  South America           San Pablo
5     22623900         Cairo        Egypt         Africa            El Cairo
6     22505300   Mexico City       Mexico  North America    Ciudad de México
7     22189100       Beijing        China           Asia               Pekín
8     21673100        Mumbai        India           Asia              Bombay
9     18967500         Osaka        Japan           Asia               Osaka
10    17773900     Chongqing        China           Asia           Chongqing
11    17648600       Karachi     Pakistan           Asia             Karachi
12    17032300      Kinshasa     DR Congo         Africa            Kinshasa
13    16536000         Lagos      Nigeria         Africa               Lagos
14    16047400      Istanbul       Turkey           Asia            Estanbul
15    15618300  Buenos Aires    Argentina  South America        Buenos Aires
16    15570800       Kolkata        India           Asia             Calcuta
17    14942000        Manila  Philippines           Asia              Manila
18    14590100     Guangzhou        China           Asia              Cantón
19    14470900       Tianjin        China           Asia             Tianjin

   city_in_Chinese city_in_Arabic city_in_Indonesian city_in_Swahili  \
0               东京          طوكيو              Tokyo           Tokyo
1               德里           دلهي              Delhi           Delhi
2               上海         شنغهاي      Kota Shanghai        Shanghai
3               达卡            دكا         Kota Dhaka           Dhaka
4              圣保罗      ساو باولو          Sao Paulo       São Paulo
5               开罗        القاهرة              Kairo           Cairo
6             墨西哥城   مدينة مكسيكو       Kota Meksiko     Mexico City
7               北京           بكين       Kota Beijing         Beijing
8               孟买         مومباي             Mumbai          Mumbai
9               大阪         أوساكا              Osaka           Osaka
10              重庆     تشونغتشينغ     Kota Chongqing       Chongqing
11             卡拉奇         كراتشي            Karachi         Karachi
12             金沙萨        كينشاسا      Kota Kinshasa        Kinshasa
13             拉各斯          لاغوس         Kota Lagos           Lagos
14           伊斯坦布尔        اسطنبول           Istanbul        Istanbul
15         布宜诺斯艾利斯     بوينس آيرس       Buenos Aires    Buenos Aires
16            加尔各答        كولكاتا            Kolkata         Kolkata
17             马尼拉         مانيلا        Kota Manila          Manila
18              广州       قوانغتشو     Kota Guangzhou       Guangzhou
19              天津        تيانجين       Kota Tianjin         Tianjin

     city_in_Tamil  ... city_in_Korean city_in_Vietnamese   city_in_Thai  \
0         டோக்கியோ  ...             도쿄              Tokyo        โตเกียว
1           டெல்லி  ...             델리              Đê-li           เดลี
2         ஷாங்காய்  ...            상하이         Thượng Hải      เซี่ยงไฮ้
3           டாக்கா  ...             다카             Đắc-ca           ธากา
4        சாவ் பாலோ  ...           상파울루          Sao Paulo       เซาเปาโล
5           கெய்ரோ  ...            카이로              Cairo           ไคโร
6   மெக்சிகோ நகரம்  ...         멕시코 시티   Thành phố Mexico  เม็กซิโกซิตี้
7         பெய்ஜிங்  ...            베이징           Bắc Kinh        ปักกิ่ง
8           மும்பை  ...            뭄바이             Mumbai          มุมไบ
9            ஒசாகா  ...            오사카              Osaka        โอซาก้า
10        சோங்கிங்  ...             충칭        Trùng Khánh         ฉงชิ่ง
11         கராச்சி  ...            카라치            Karachi         การาจี
12        கின்ஷாசா  ...            킨샤사           Kinshasa        กินชาซา
13          லாகோஸ்  ...            라고스              Lagos          ลากอส
14     இஸ்தான்புல்  ...           이스탄불           Istanbul      อิสตันบูล
15  பியூனஸ் அயர்ஸ்  ...      부에노스 아이레스       Buenos Aires    บัวโนสไอเรส
16       கொல்கத்தா  ...            콜카타            Kolkata        โกลกาตา
17           மணிலா  ...            마닐라             Manila         มะนิลา
18        குவாங்சோ  ...            광저우         Quảng Châu       กว่างโจว
19      தியான்ஜின்  ...             톈진          Thiên Tân       เทียนจิน

   city_in_Portuguese city_in_French en_posiciones sp_posiciones  \
0              Tóquio          Tokyo          5872          7624
1               Délhi          Delhi          4853         22845
2              Xangai       Shanghai          9021         26129
3               Dhaka          Dhaka         22451        217225
4           Sao Paulo      São Paulo         24092          1136
5               Cairo          Caire         12249         14915
6    Cidade do México        Mexique          2258           810
7              Pequim          Pékin          7223         11110
8              Mumbai         Mumbai          6388         30581
9               Osaka          Osaka         20495         23167
10          Chongqing      Chongqing         45959         76342
11            Carachi        Karachi         21056         81600
12           Kinshasa       Kinshasa         67647         99986
13              Lagos          Lagos         17041         10952
14           Istambul       Istanbul         12656        479219
15       Buenos Aires   Buenos Aires         15101           854
16            Calcutá        Kolkata         15268         32627
17             Manila        Manille         12339         22288
18          Guangzhou      Guangzhou         26711         14439
19            Tianjin        Tianjin         42219         71455

   ch_posiciones sw_posiciones ta_posiciones
0           4662          4852         21427
1          11384          6482          2558
2            344          9130         47973
3          82180         19070         22134
4          27780          5076         26236
5          27651          5852         31985
6          36649          2565         12063
7            172          5001         21351
8          35115          8969          1545
9           4818         12672        151229
10          1451         84346        177294
11         65375          9797         26069
12        163932          3885        163932
13         98664          3457        154897
14         26448          3851         41901
15         48322          6101        271710
16         61341          8407          5449
17         30532         13420         28598
18          1114         23404        203616
19          1374         49341        318362

[20 rows x 23 columns]

⚠️ Ciudades en tamil sin posición asignada (total: 280):

    city_in_Tamil ta_posiciones
26         போகோடா          none
46         சுசோவ்          none
47         சுசோவ்          none
55         ஃபோஷன்          none
67       கிங்டாவோ          none
..            ...           ...
791      ஜியாமுசி          none
799      டோங்தாய்          none
800  ஜாங்ஜியாகாங்          none
807      ஹுவாம்போ          none
809     பன்ஷிஹுவா          none

[280 rows x 2 columns]

In [28]:
# 🔹 1. Cargar los dos CSVs de posiciones en turco
df_original_tr = pd.read_csv('posiciones_ciudades_TR.csv')
df_corregidas_tr = pd.read_csv('posiciones_ciudades_corregidas_TR.csv')

# 🔹 2. Convertir la columna 'posición' a numérico
df_original_tr['posición'] = pd.to_numeric(df_original_tr['posición'], errors='coerce')
df_corregidas_tr['posición'] = pd.to_numeric(df_corregidas_tr['posición'], errors='coerce')

# 🔹 3. Concatenar y ordenar
df_final_tr = pd.concat([df_original_tr, df_corregidas_tr]).sort_values(by=['palabra', 'posición'])
df_final_tr = df_final_tr.drop_duplicates(subset=['palabra'], keep='first')

# 🔹 4. Orden final
df_final_tr = df_final_tr.sort_values(by='posición', na_position='last')
df_final_tr['posición'] = df_final_tr['posición'].apply(lambda x: 'none' if pd.isna(x) else int(x))

# 🔹 5. Merge limpio (evitamos duplicados)
if 'tr_posiciones' in df_cities.columns:
    df_cities = df_cities.drop(columns=['tr_posiciones'])

df_cities = df_cities.merge(
    df_final_tr.rename(columns={'palabra': 'city_in_Turkish', 'posición': 'tr_posiciones'}), 
    on='city_in_Turkish', 
    how='left'
)

# 🔹 6. Verificar faltantes
missing_tr = df_cities[df_cities['tr_posiciones'].isin(['none', 0]) | df_cities['tr_posiciones'].isna()]

# 🔹 7. Imprimir TODO el DataFrame completo para validar
print("\n✅ DataFrame completo con 'tr_posiciones' agregado:\n")
print(df_cities.head(20))

print(f"\n⚠️ Ciudades en turco sin posición asignada (total: {len(missing_tr)}):\n")
print(missing_tr[['city_in_Turkish', 'tr_posiciones']])

✅ DataFrame completo con 'tr_posiciones' agregado:

    population          city      country      continent     city_in_Spanish  \
0     37115000         Tokyo        Japan           Asia               Tokio
1     33807400         Delhi        India           Asia               Delhi
2     29867900      Shanghai        China           Asia  Llevar a la fuerza
3     23935700         Dhaka   Bangladesh           Asia               Dacca
4     22806700     Sao Paulo       Brazil  South America           San Pablo
5     22623900         Cairo        Egypt         Africa            El Cairo
6     22505300   Mexico City       Mexico  North America    Ciudad de México
7     22189100       Beijing        China           Asia               Pekín
8     21673100        Mumbai        India           Asia              Bombay
9     18967500         Osaka        Japan           Asia               Osaka
10    17773900     Chongqing        China           Asia           Chongqing
11    17648600       Karachi     Pakistan           Asia             Karachi
12    17032300      Kinshasa     DR Congo         Africa            Kinshasa
13    16536000         Lagos      Nigeria         Africa               Lagos
14    16047400      Istanbul       Turkey           Asia            Estanbul
15    15618300  Buenos Aires    Argentina  South America        Buenos Aires
16    15570800       Kolkata        India           Asia             Calcuta
17    14942000        Manila  Philippines           Asia              Manila
18    14590100     Guangzhou        China           Asia              Cantón
19    14470900       Tianjin        China           Asia             Tianjin

   city_in_Chinese city_in_Arabic city_in_Indonesian city_in_Swahili  \
0               东京          طوكيو              Tokyo           Tokyo
1               德里           دلهي              Delhi           Delhi
2               上海         شنغهاي      Kota Shanghai        Shanghai
3               达卡            دكا         Kota Dhaka           Dhaka
4              圣保罗      ساو باولو          Sao Paulo       São Paulo
5               开罗        القاهرة              Kairo           Cairo
6             墨西哥城   مدينة مكسيكو       Kota Meksiko     Mexico City
7               北京           بكين       Kota Beijing         Beijing
8               孟买         مومباي             Mumbai          Mumbai
9               大阪         أوساكا              Osaka           Osaka
10              重庆     تشونغتشينغ     Kota Chongqing       Chongqing
11             卡拉奇         كراتشي            Karachi         Karachi
12             金沙萨        كينشاسا      Kota Kinshasa        Kinshasa
13             拉各斯          لاغوس         Kota Lagos           Lagos
14           伊斯坦布尔        اسطنبول           Istanbul        Istanbul
15         布宜诺斯艾利斯     بوينس آيرس       Buenos Aires    Buenos Aires
16            加尔各答        كولكاتا            Kolkata         Kolkata
17             马尼拉         مانيلا        Kota Manila          Manila
18              广州       قوانغتشو     Kota Guangzhou       Guangzhou
19              天津        تيانجين       Kota Tianjin         Tianjin

     city_in_Tamil  ... city_in_Vietnamese   city_in_Thai city_in_Portuguese  \
0         டோக்கியோ  ...              Tokyo        โตเกียว             Tóquio
1           டெல்லி  ...              Đê-li           เดลี              Délhi
2         ஷாங்காய்  ...         Thượng Hải      เซี่ยงไฮ้             Xangai
3           டாக்கா  ...             Đắc-ca           ธากา              Dhaka
4        சாவ் பாலோ  ...          Sao Paulo       เซาเปาโล          Sao Paulo
5           கெய்ரோ  ...              Cairo           ไคโร              Cairo
6   மெக்சிகோ நகரம்  ...   Thành phố Mexico  เม็กซิโกซิตี้   Cidade do México
7         பெய்ஜிங்  ...           Bắc Kinh        ปักกิ่ง             Pequim
8           மும்பை  ...             Mumbai          มุมไบ             Mumbai
9            ஒசாகா  ...              Osaka        โอซาก้า              Osaka
10        சோங்கிங்  ...        Trùng Khánh         ฉงชิ่ง          Chongqing
11         கராச்சி  ...            Karachi         การาจี            Carachi
12        கின்ஷாசா  ...           Kinshasa        กินชาซา           Kinshasa
13          லாகோஸ்  ...              Lagos          ลากอส              Lagos
14     இஸ்தான்புல்  ...           Istanbul      อิสตันบูล           Istambul
15  பியூனஸ் அயர்ஸ்  ...       Buenos Aires    บัวโนสไอเรส       Buenos Aires
16       கொல்கத்தா  ...            Kolkata        โกลกาตา            Calcutá
17           மணிலா  ...             Manila         มะนิลา             Manila
18        குவாங்சோ  ...         Quảng Châu       กว่างโจว          Guangzhou
19      தியான்ஜின்  ...          Thiên Tân       เทียนจิน            Tianjin

   city_in_French en_posiciones sp_posiciones ch_posiciones sw_posiciones  \
0           Tokyo          5872          7624          4662          4852
1           Delhi          4853         22845         11384          6482
2        Shanghai          9021         26129           344          9130
3           Dhaka         22451        217225         82180         19070
4       São Paulo         24092          1136         27780          5076
5           Caire         12249         14915         27651          5852
6         Mexique          2258           810         36649          2565
7           Pékin          7223         11110           172          5001
8          Mumbai          6388         30581         35115          8969
9           Osaka         20495         23167          4818         12672
10      Chongqing         45959         76342          1451         84346
11        Karachi         21056         81600         65375          9797
12       Kinshasa         67647         99986        163932          3885
13          Lagos         17041         10952         98664          3457
14       Istanbul         12656        479219         26448          3851
15   Buenos Aires         15101           854         48322          6101
16        Kolkata         15268         32627         61341          8407
17        Manille         12339         22288         30532         13420
18      Guangzhou         26711         14439          1114         23404
19        Tianjin         42219         71455          1374         49341

   ta_posiciones tr_posiciones
0          21427          8728
1           2558         29739
2          47973         31958
3          22134        117593
4          26236         27514
5          31985         13538
6          12063          9028
7          21351         11795
8           1545         74960
9         151229         31918
10        177294        350718
11         26069        106496
12        163932        191384
13        154897         67357
14         41901            70
15        271710         29893
16          5449        130744
17         28598         61945
18        203616         60378
19        318362        121022

[20 rows x 24 columns]

⚠️ Ciudades en turco sin posición asignada (total: 95):

    city_in_Turkish tr_posiciones
25           Çennai          none
41            Şi'an          none
52          Şenyang          none
55            Foşan          none
77        Çittagong          none
..              ...           ...
784       Tongalama          none
798          Bacoor          none
799         Dongtay          none
800    Zhangjiagang          none
801  Nanded Waghala          none

[95 rows x 2 columns]

In [29]:
# 🔹 1. Cargar los dos CSVs de posiciones en finlandés
df_original_fi = pd.read_csv('posiciones_ciudades_FI.csv')
df_corregidas_fi = pd.read_csv('posiciones_ciudades_corregidas_FI.csv')

# 🔹 2. Convertir la columna 'posición' a numérico
df_original_fi['posición'] = pd.to_numeric(df_original_fi['posición'], errors='coerce')
df_corregidas_fi['posición'] = pd.to_numeric(df_corregidas_fi['posición'], errors='coerce')

# 🔹 3. Concatenar y ordenar
df_final_fi = pd.concat([df_original_fi, df_corregidas_fi]).sort_values(by=['palabra', 'posición'])
df_final_fi = df_final_fi.drop_duplicates(subset=['palabra'], keep='first')

# 🔹 4. Orden final
df_final_fi = df_final_fi.sort_values(by='posición', na_position='last')
df_final_fi['posición'] = df_final_fi['posición'].apply(lambda x: 'none' if pd.isna(x) else int(x))

# 🔹 5. Merge limpio (evitamos duplicados)
if 'fn_posiciones' in df_cities.columns:
    df_cities = df_cities.drop(columns=['fn_posiciones'])

df_cities = df_cities.merge(
    df_final_fi.rename(columns={'palabra': 'city_in_Finnish', 'posición': 'fn_posiciones'}), 
    on='city_in_Finnish', 
    how='left'
)

# 🔹 6. Verificar faltantes
missing_fi = df_cities[df_cities['fn_posiciones'].isin(['none', 0]) | df_cities['fn_posiciones'].isna()]

# 🔹 7. Imprimir TODO el DataFrame completo para validar
print("\n✅ DataFrame completo con 'fn_posiciones' agregado:\n")
print(df_cities.head(20))

print(f"\n⚠️ Ciudades en finlandés sin posición asignada (total: {len(missing_fi)}):\n")
print(missing_fi[['city_in_Finnish', 'fn_posiciones']])

✅ DataFrame completo con 'fn_posiciones' agregado:

    population          city      country      continent     city_in_Spanish  \
0     37115000         Tokyo        Japan           Asia               Tokio
1     33807400         Delhi        India           Asia               Delhi
2     29867900      Shanghai        China           Asia  Llevar a la fuerza
3     23935700         Dhaka   Bangladesh           Asia               Dacca
4     22806700     Sao Paulo       Brazil  South America           San Pablo
5     22623900         Cairo        Egypt         Africa            El Cairo
6     22505300   Mexico City       Mexico  North America    Ciudad de México
7     22189100       Beijing        China           Asia               Pekín
8     21673100        Mumbai        India           Asia              Bombay
9     18967500         Osaka        Japan           Asia               Osaka
10    17773900     Chongqing        China           Asia           Chongqing
11    17648600       Karachi     Pakistan           Asia             Karachi
12    17032300      Kinshasa     DR Congo         Africa            Kinshasa
13    16536000         Lagos      Nigeria         Africa               Lagos
14    16047400      Istanbul       Turkey           Asia            Estanbul
15    15618300  Buenos Aires    Argentina  South America        Buenos Aires
16    15570800       Kolkata        India           Asia             Calcuta
17    14942000        Manila  Philippines           Asia              Manila
18    14590100     Guangzhou        China           Asia              Cantón
19    14470900       Tianjin        China           Asia             Tianjin

   city_in_Chinese city_in_Arabic city_in_Indonesian city_in_Swahili  \
0               东京          طوكيو              Tokyo           Tokyo
1               德里           دلهي              Delhi           Delhi
2               上海         شنغهاي      Kota Shanghai        Shanghai
3               达卡            دكا         Kota Dhaka           Dhaka
4              圣保罗      ساو باولو          Sao Paulo       São Paulo
5               开罗        القاهرة              Kairo           Cairo
6             墨西哥城   مدينة مكسيكو       Kota Meksiko     Mexico City
7               北京           بكين       Kota Beijing         Beijing
8               孟买         مومباي             Mumbai          Mumbai
9               大阪         أوساكا              Osaka           Osaka
10              重庆     تشونغتشينغ     Kota Chongqing       Chongqing
11             卡拉奇         كراتشي            Karachi         Karachi
12             金沙萨        كينشاسا      Kota Kinshasa        Kinshasa
13             拉各斯          لاغوس         Kota Lagos           Lagos
14           伊斯坦布尔        اسطنبول           Istanbul        Istanbul
15         布宜诺斯艾利斯     بوينس آيرس       Buenos Aires    Buenos Aires
16            加尔各答        كولكاتا            Kolkata         Kolkata
17             马尼拉         مانيلا        Kota Manila          Manila
18              广州       قوانغتشو     Kota Guangzhou       Guangzhou
19              天津        تيانجين       Kota Tianjin         Tianjin

     city_in_Tamil  ...   city_in_Thai city_in_Portuguese city_in_French  \
0         டோக்கியோ  ...        โตเกียว             Tóquio          Tokyo
1           டெல்லி  ...           เดลี              Délhi          Delhi
2         ஷாங்காய்  ...      เซี่ยงไฮ้             Xangai       Shanghai
3           டாக்கா  ...           ธากา              Dhaka          Dhaka
4        சாவ் பாலோ  ...       เซาเปาโล          Sao Paulo      São Paulo
5           கெய்ரோ  ...           ไคโร              Cairo          Caire
6   மெக்சிகோ நகரம்  ...  เม็กซิโกซิตี้   Cidade do México        Mexique
7         பெய்ஜிங்  ...        ปักกิ่ง             Pequim          Pékin
8           மும்பை  ...          มุมไบ             Mumbai         Mumbai
9            ஒசாகா  ...        โอซาก้า              Osaka          Osaka
10        சோங்கிங்  ...         ฉงชิ่ง          Chongqing      Chongqing
11         கராச்சி  ...         การาจี            Carachi        Karachi
12        கின்ஷாசா  ...        กินชาซา           Kinshasa       Kinshasa
13          லாகோஸ்  ...          ลากอส              Lagos          Lagos
14     இஸ்தான்புல்  ...      อิสตันบูล           Istambul       Istanbul
15  பியூனஸ் அயர்ஸ்  ...    บัวโนสไอเรส       Buenos Aires   Buenos Aires
16       கொல்கத்தா  ...        โกลกาตา            Calcutá        Kolkata
17           மணிலா  ...         มะนิลา             Manila        Manille
18        குவாங்சோ  ...       กว่างโจว          Guangzhou      Guangzhou
19      தியான்ஜின்  ...       เทียนจิน            Tianjin        Tianjin

   en_posiciones sp_posiciones ch_posiciones sw_posiciones ta_posiciones  \
0           5872          7624          4662          4852         21427
1           4853         22845         11384          6482          2558
2           9021         26129           344          9130         47973
3          22451        217225         82180         19070         22134
4          24092          1136         27780          5076         26236
5          12249         14915         27651          5852         31985
6           2258           810         36649          2565         12063
7           7223         11110           172          5001         21351
8           6388         30581         35115          8969          1545
9          20495         23167          4818         12672        151229
10         45959         76342          1451         84346        177294
11         21056         81600         65375          9797         26069
12         67647         99986        163932          3885        163932
13         17041         10952         98664          3457        154897
14         12656        479219         26448          3851         41901
15         15101           854         48322          6101        271710
16         15268         32627         61341          8407          5449
17         12339         22288         30532         13420         28598
18         26711         14439          1114         23404        203616
19         42219         71455          1374         49341        318362

   tr_posiciones fn_posiciones
0           8728         23280
1          29739         48244
2          31958         22204
3         117593        247733
4          27514         16688
5          13538         72933
6           9028         24562
7          11795         38503
8          74960         57816
9          31918         38314
10        350718        153285
11        106496        206055
12        191384        165866
13         67357         92270
14            70         25288
15         29893         34561
16        130744        375263
17         61945         76390
18         60378        104035
19        121022        138260

[20 rows x 25 columns]

⚠️ Ciudades en finlandés sin posición asignada (total: 93):

    city_in_Finnish fn_posiciones
41            Xi'an          none
59          Haerbin          none
111   Ekurhulenissä          none
112      Malappuram          none
134        Thrissur          none
..              ...           ...
794        Sargodha          none
798          Bacoor          none
799         Dongtai          none
800    Zhangjiagang          none
801  Nanded Waghala          none

[93 rows x 2 columns]

In [30]:
# 🔹 1. Cargar los dos CSVs de posiciones en japonés
df_original_ja = pd.read_csv('posiciones_ciudades_JA.csv')
df_corregidas_ja = pd.read_csv('posiciones_ciudades_corregidas_JA.csv')

# 🔹 2. Convertir la columna 'posición' a numérico
df_original_ja['posición'] = pd.to_numeric(df_original_ja['posición'], errors='coerce')
df_corregidas_ja['posición'] = pd.to_numeric(df_corregidas_ja['posición'], errors='coerce')

# 🔹 3. Concatenar y ordenar
df_final_ja = pd.concat([df_original_ja, df_corregidas_ja]).sort_values(by=['palabra', 'posición'])
df_final_ja = df_final_ja.drop_duplicates(subset=['palabra'], keep='first')

# 🔹 4. Orden final
df_final_ja = df_final_ja.sort_values(by='posición', na_position='last')
df_final_ja['posición'] = df_final_ja['posición'].apply(lambda x: 'none' if pd.isna(x) else int(x))

# 🔹 5. Merge limpio (evitamos duplicados)
if 'jp_posiciones' in df_cities.columns:
    df_cities = df_cities.drop(columns=['jp_posiciones'])

df_cities = df_cities.merge(
    df_final_ja.rename(columns={'palabra': 'city_in_Japanese', 'posición': 'jp_posiciones'}), 
    on='city_in_Japanese', 
    how='left'
)

# 🔹 6. Verificar faltantes
missing_ja = df_cities[df_cities['jp_posiciones'].isin(['none', 0]) | df_cities['jp_posiciones'].isna()]

# 🔹 7. Imprimir TODO el DataFrame completo para validar
print("\n✅ DataFrame completo con 'jp_posiciones' agregado:\n")
print(df_cities.head(20))

print(f"\n⚠️ Ciudades en japonés sin posición asignada (total: {len(missing_ja)}):\n")
print(missing_ja[['city_in_Japanese', 'jp_posiciones']])

✅ DataFrame completo con 'jp_posiciones' agregado:

    population          city      country      continent     city_in_Spanish  \
0     37115000         Tokyo        Japan           Asia               Tokio
1     33807400         Delhi        India           Asia               Delhi
2     29867900      Shanghai        China           Asia  Llevar a la fuerza
3     23935700         Dhaka   Bangladesh           Asia               Dacca
4     22806700     Sao Paulo       Brazil  South America           San Pablo
5     22623900         Cairo        Egypt         Africa            El Cairo
6     22505300   Mexico City       Mexico  North America    Ciudad de México
7     22189100       Beijing        China           Asia               Pekín
8     21673100        Mumbai        India           Asia              Bombay
9     18967500         Osaka        Japan           Asia               Osaka
10    17773900     Chongqing        China           Asia           Chongqing
11    17648600       Karachi     Pakistan           Asia             Karachi
12    17032300      Kinshasa     DR Congo         Africa            Kinshasa
13    16536000         Lagos      Nigeria         Africa               Lagos
14    16047400      Istanbul       Turkey           Asia            Estanbul
15    15618300  Buenos Aires    Argentina  South America        Buenos Aires
16    15570800       Kolkata        India           Asia             Calcuta
17    14942000        Manila  Philippines           Asia              Manila
18    14590100     Guangzhou        China           Asia              Cantón
19    14470900       Tianjin        China           Asia             Tianjin

   city_in_Chinese city_in_Arabic city_in_Indonesian city_in_Swahili  \
0               东京          طوكيو              Tokyo           Tokyo
1               德里           دلهي              Delhi           Delhi
2               上海         شنغهاي      Kota Shanghai        Shanghai
3               达卡            دكا         Kota Dhaka           Dhaka
4              圣保罗      ساو باولو          Sao Paulo       São Paulo
5               开罗        القاهرة              Kairo           Cairo
6             墨西哥城   مدينة مكسيكو       Kota Meksiko     Mexico City
7               北京           بكين       Kota Beijing         Beijing
8               孟买         مومباي             Mumbai          Mumbai
9               大阪         أوساكا              Osaka           Osaka
10              重庆     تشونغتشينغ     Kota Chongqing       Chongqing
11             卡拉奇         كراتشي            Karachi         Karachi
12             金沙萨        كينشاسا      Kota Kinshasa        Kinshasa
13             拉各斯          لاغوس         Kota Lagos           Lagos
14           伊斯坦布尔        اسطنبول           Istanbul        Istanbul
15         布宜诺斯艾利斯     بوينس آيرس       Buenos Aires    Buenos Aires
16            加尔各答        كولكاتا            Kolkata         Kolkata
17             马尼拉         مانيلا        Kota Manila          Manila
18              广州       قوانغتشو     Kota Guangzhou       Guangzhou
19              天津        تيانجين       Kota Tianjin         Tianjin

     city_in_Tamil  ... city_in_Portuguese city_in_French en_posiciones  \
0         டோக்கியோ  ...             Tóquio          Tokyo          5872
1           டெல்லி  ...              Délhi          Delhi          4853
2         ஷாங்காய்  ...             Xangai       Shanghai          9021
3           டாக்கா  ...              Dhaka          Dhaka         22451
4        சாவ் பாலோ  ...          Sao Paulo      São Paulo         24092
5           கெய்ரோ  ...              Cairo          Caire         12249
6   மெக்சிகோ நகரம்  ...   Cidade do México        Mexique          2258
7         பெய்ஜிங்  ...             Pequim          Pékin          7223
8           மும்பை  ...             Mumbai         Mumbai          6388
9            ஒசாகா  ...              Osaka          Osaka         20495
10        சோங்கிங்  ...          Chongqing      Chongqing         45959
11         கராச்சி  ...            Carachi        Karachi         21056
12        கின்ஷாசா  ...           Kinshasa       Kinshasa         67647
13          லாகோஸ்  ...              Lagos          Lagos         17041
14     இஸ்தான்புல்  ...           Istambul       Istanbul         12656
15  பியூனஸ் அயர்ஸ்  ...       Buenos Aires   Buenos Aires         15101
16       கொல்கத்தா  ...            Calcutá        Kolkata         15268
17           மணிலா  ...             Manila        Manille         12339
18        குவாங்சோ  ...          Guangzhou      Guangzhou         26711
19      தியான்ஜின்  ...            Tianjin        Tianjin         42219

   sp_posiciones ch_posiciones sw_posiciones ta_posiciones tr_posiciones  \
0           7624          4662          4852         21427          8728
1          22845         11384          6482          2558         29739
2          26129           344          9130         47973         31958
3         217225         82180         19070         22134        117593
4           1136         27780          5076         26236         27514
5          14915         27651          5852         31985         13538
6            810         36649          2565         12063          9028
7          11110           172          5001         21351         11795
8          30581         35115          8969          1545         74960
9          23167          4818         12672        151229         31918
10         76342          1451         84346        177294        350718
11         81600         65375          9797         26069        106496
12         99986        163932          3885        163932        191384
13         10952         98664          3457        154897         67357
14        479219         26448          3851         41901            70
15           854         48322          6101        271710         29893
16         32627         61341          8407          5449        130744
17         22288         30532         13420         28598         61945
18         14439          1114         23404        203616         60378
19         71455          1374         49341        318362        121022

   fn_posiciones jp_posiciones
0          23280           211
1          48244         23766
2          22204          5165
3         247733         59505
4          16688         24286
5          72933         14539
6          24562         48184
7          38503          5261
8          57816         43246
9          38314           428
10        153285         31453
11        206055         79522
12        165866        103983
13         92270         79325
14         25288         23117
15         34561         30170
16        375263         73906
17         76390         17933
18        104035         19169
19        138260         16721

[20 rows x 26 columns]

⚠️ Ciudades en japonés sin posición asignada (total: 84):

    city_in_Japanese jp_posiciones
56                東莞          none
68                鄭州          none
85                長沙          none
90                昆明          none
93                合肥          none
..               ...           ...
763               延安          none
783           シアルコット          none
793          アル・フダイダ          none
801        ナンデッド・ワガラ          none
805            バヴナガル          none

[84 rows x 2 columns]

In [31]:
# 🔹 1. Cargar los dos CSVs de posiciones en coreano
df_original_ko = pd.read_csv('posiciones_ciudades_KO.csv')
df_corregidas_ko = pd.read_csv('posiciones_ciudades_corregidas_KO.csv')

# 🔹 2. Convertir la columna 'posición' a numérico
df_original_ko['posición'] = pd.to_numeric(df_original_ko['posición'], errors='coerce')
df_corregidas_ko['posición'] = pd.to_numeric(df_corregidas_ko['posición'], errors='coerce')

# 🔹 3. Concatenar y ordenar
df_final_ko = pd.concat([df_original_ko, df_corregidas_ko]).sort_values(by=['palabra', 'posición'])
df_final_ko = df_final_ko.drop_duplicates(subset=['palabra'], keep='first')

# 🔹 4. Orden final
df_final_ko = df_final_ko.sort_values(by='posición', na_position='last')
df_final_ko['posición'] = df_final_ko['posición'].apply(lambda x: 'none' if pd.isna(x) else int(x))

# 🔹 5. Merge limpio (evitamos duplicados)
if 'ko_posiciones' in df_cities.columns:
    df_cities = df_cities.drop(columns=['ko_posiciones'])

df_cities = df_cities.merge(
    df_final_ko.rename(columns={'palabra': 'city_in_Korean', 'posición': 'ko_posiciones'}), 
    on='city_in_Korean', 
    how='left'
)

# 🔹 6. Verificar faltantes
missing_ko = df_cities[df_cities['ko_posiciones'].isin(['none', 0]) | df_cities['ko_posiciones'].isna()]

# 🔹 7. Imprimir TODO el DataFrame completo para validar
print("\n✅ DataFrame completo con 'ko_posiciones' agregado:\n")
print(df_cities.head(20))

print(f"\n⚠️ Ciudades en coreano sin posición asignada (total: {len(missing_ko)}):\n")
print(missing_ko[['city_in_Korean', 'ko_posiciones']])

✅ DataFrame completo con 'ko_posiciones' agregado:

    population          city      country      continent     city_in_Spanish  \
0     37115000         Tokyo        Japan           Asia               Tokio
1     33807400         Delhi        India           Asia               Delhi
2     29867900      Shanghai        China           Asia  Llevar a la fuerza
3     23935700         Dhaka   Bangladesh           Asia               Dacca
4     22806700     Sao Paulo       Brazil  South America           San Pablo
5     22623900         Cairo        Egypt         Africa            El Cairo
6     22505300   Mexico City       Mexico  North America    Ciudad de México
7     22189100       Beijing        China           Asia               Pekín
8     21673100        Mumbai        India           Asia              Bombay
9     18967500         Osaka        Japan           Asia               Osaka
10    17773900     Chongqing        China           Asia           Chongqing
11    17648600       Karachi     Pakistan           Asia             Karachi
12    17032300      Kinshasa     DR Congo         Africa            Kinshasa
13    16536000         Lagos      Nigeria         Africa               Lagos
14    16047400      Istanbul       Turkey           Asia            Estanbul
15    15618300  Buenos Aires    Argentina  South America        Buenos Aires
16    15570800       Kolkata        India           Asia             Calcuta
17    14942000        Manila  Philippines           Asia              Manila
18    14590100     Guangzhou        China           Asia              Cantón
19    14470900       Tianjin        China           Asia             Tianjin

   city_in_Chinese city_in_Arabic city_in_Indonesian city_in_Swahili  \
0               东京          طوكيو              Tokyo           Tokyo
1               德里           دلهي              Delhi           Delhi
2               上海         شنغهاي      Kota Shanghai        Shanghai
3               达卡            دكا         Kota Dhaka           Dhaka
4              圣保罗      ساو باولو          Sao Paulo       São Paulo
5               开罗        القاهرة              Kairo           Cairo
6             墨西哥城   مدينة مكسيكو       Kota Meksiko     Mexico City
7               北京           بكين       Kota Beijing         Beijing
8               孟买         مومباي             Mumbai          Mumbai
9               大阪         أوساكا              Osaka           Osaka
10              重庆     تشونغتشينغ     Kota Chongqing       Chongqing
11             卡拉奇         كراتشي            Karachi         Karachi
12             金沙萨        كينشاسا      Kota Kinshasa        Kinshasa
13             拉各斯          لاغوس         Kota Lagos           Lagos
14           伊斯坦布尔        اسطنبول           Istanbul        Istanbul
15         布宜诺斯艾利斯     بوينس آيرس       Buenos Aires    Buenos Aires
16            加尔各答        كولكاتا            Kolkata         Kolkata
17             马尼拉         مانيلا        Kota Manila          Manila
18              广州       قوانغتشو     Kota Guangzhou       Guangzhou
19              天津        تيانجين       Kota Tianjin         Tianjin

     city_in_Tamil  ... city_in_French en_posiciones sp_posiciones  \
0         டோக்கியோ  ...          Tokyo          5872          7624
1           டெல்லி  ...          Delhi          4853         22845
2         ஷாங்காய்  ...       Shanghai          9021         26129
3           டாக்கா  ...          Dhaka         22451        217225
4        சாவ் பாலோ  ...      São Paulo         24092          1136
5           கெய்ரோ  ...          Caire         12249         14915
6   மெக்சிகோ நகரம்  ...        Mexique          2258           810
7         பெய்ஜிங்  ...          Pékin          7223         11110
8           மும்பை  ...         Mumbai          6388         30581
9            ஒசாகா  ...          Osaka         20495         23167
10        சோங்கிங்  ...      Chongqing         45959         76342
11         கராச்சி  ...        Karachi         21056         81600
12        கின்ஷாசா  ...       Kinshasa         67647         99986
13          லாகோஸ்  ...          Lagos         17041         10952
14     இஸ்தான்புல்  ...       Istanbul         12656        479219
15  பியூனஸ் அயர்ஸ்  ...   Buenos Aires         15101           854
16       கொல்கத்தா  ...        Kolkata         15268         32627
17           மணிலா  ...        Manille         12339         22288
18        குவாங்சோ  ...      Guangzhou         26711         14439
19      தியான்ஜின்  ...        Tianjin         42219         71455

   ch_posiciones sw_posiciones ta_posiciones tr_posiciones fn_posiciones  \
0           4662          4852         21427          8728         23280
1          11384          6482          2558         29739         48244
2            344          9130         47973         31958         22204
3          82180         19070         22134        117593        247733
4          27780          5076         26236         27514         16688
5          27651          5852         31985         13538         72933
6          36649          2565         12063          9028         24562
7            172          5001         21351         11795         38503
8          35115          8969          1545         74960         57816
9           4818         12672        151229         31918         38314
10          1451         84346        177294        350718        153285
11         65375          9797         26069        106496        206055
12        163932          3885        163932        191384        165866
13         98664          3457        154897         67357         92270
14         26448          3851         41901            70         25288
15         48322          6101        271710         29893         34561
16         61341          8407          5449        130744        375263
17         30532         13420         28598         61945         76390
18          1114         23404        203616         60378        104035
19          1374         49341        318362        121022        138260

   jp_posiciones ko_posiciones
0            211           681
1          23766          6829
2           5165           867
3          59505         71855
4          24286         18481
5          14539         15093
6          48184          1968
7           5261           879
8          43246         35831
9            428          1216
10         31453         29664
11         79522        120255
12        103983        204840
13         79325         36704
14         23117          2979
15         30170         63096
16         73906         77960
17         17933         16123
18         19169         11820
19         16721         24155

[20 rows x 27 columns]

⚠️ Ciudades en coreano sin posición asignada (total: 87):

    city_in_Korean ko_posiciones
111       에쿠르훌레니에서          none
112           말라푸람          none
117           루크나우          none
134           트리슈르          none
140         우시(無錫)          none
..             ...           ...
791           지아무스          none
795           나이피도          none
798            바쿠르          none
799            동타이          none
809            판지화          none

[87 rows x 2 columns]

In [32]:
# 🔹 1. Cargar los dos CSVs de posiciones en vietnamita
df_original_vi = pd.read_csv('posiciones_ciudades_VI.csv')
df_corregidas_vi = pd.read_csv('posiciones_ciudades_corregidas_VI.csv')

# 🔹 2. Convertir la columna 'posición' a numérico
df_original_vi['posición'] = pd.to_numeric(df_original_vi['posición'], errors='coerce')
df_corregidas_vi['posición'] = pd.to_numeric(df_corregidas_vi['posición'], errors='coerce')

# 🔹 3. Concatenar y ordenar
df_final_vi = pd.concat([df_original_vi, df_corregidas_vi]).sort_values(by=['palabra', 'posición'])
df_final_vi = df_final_vi.drop_duplicates(subset=['palabra'], keep='first')

# 🔹 4. Orden final
df_final_vi = df_final_vi.sort_values(by='posición', na_position='last')
df_final_vi['posición'] = df_final_vi['posición'].apply(lambda x: 'none' if pd.isna(x) else int(x))

# 🔹 5. Merge limpio (evitamos duplicados)
if 'viet_posiciones' in df_cities.columns:
    df_cities = df_cities.drop(columns=['viet_posiciones'])

df_cities = df_cities.merge(
    df_final_vi.rename(columns={'palabra': 'city_in_Vietnamese', 'posición': 'viet_posiciones'}), 
    on='city_in_Vietnamese', 
    how='left'
)

# 🔹 6. Verificar faltantes
missing_vi = df_cities[df_cities['viet_posiciones'].isin(['none', 0]) | df_cities['viet_posiciones'].isna()]

# 🔹 7. Imprimir TODO el DataFrame completo para validar
print("\n✅ DataFrame completo con 'viet_posiciones' agregado:\n")
print(df_cities.head(20))

print(f"\n⚠️ Ciudades en vietnamita sin posición asignada (total: {len(missing_vi)}):\n")
print(missing_vi[['city_in_Vietnamese', 'viet_posiciones']])

✅ DataFrame completo con 'viet_posiciones' agregado:

    population          city      country      continent     city_in_Spanish  \
0     37115000         Tokyo        Japan           Asia               Tokio
1     33807400         Delhi        India           Asia               Delhi
2     29867900      Shanghai        China           Asia  Llevar a la fuerza
3     23935700         Dhaka   Bangladesh           Asia               Dacca
4     22806700     Sao Paulo       Brazil  South America           San Pablo
5     22623900         Cairo        Egypt         Africa            El Cairo
6     22505300   Mexico City       Mexico  North America    Ciudad de México
7     22189100       Beijing        China           Asia               Pekín
8     21673100        Mumbai        India           Asia              Bombay
9     18967500         Osaka        Japan           Asia               Osaka
10    17773900     Chongqing        China           Asia           Chongqing
11    17648600       Karachi     Pakistan           Asia             Karachi
12    17032300      Kinshasa     DR Congo         Africa            Kinshasa
13    16536000         Lagos      Nigeria         Africa               Lagos
14    16047400      Istanbul       Turkey           Asia            Estanbul
15    15618300  Buenos Aires    Argentina  South America        Buenos Aires
16    15570800       Kolkata        India           Asia             Calcuta
17    14942000        Manila  Philippines           Asia              Manila
18    14590100     Guangzhou        China           Asia              Cantón
19    14470900       Tianjin        China           Asia             Tianjin

   city_in_Chinese city_in_Arabic city_in_Indonesian city_in_Swahili  \
0               东京          طوكيو              Tokyo           Tokyo
1               德里           دلهي              Delhi           Delhi
2               上海         شنغهاي      Kota Shanghai        Shanghai
3               达卡            دكا         Kota Dhaka           Dhaka
4              圣保罗      ساو باولو          Sao Paulo       São Paulo
5               开罗        القاهرة              Kairo           Cairo
6             墨西哥城   مدينة مكسيكو       Kota Meksiko     Mexico City
7               北京           بكين       Kota Beijing         Beijing
8               孟买         مومباي             Mumbai          Mumbai
9               大阪         أوساكا              Osaka           Osaka
10              重庆     تشونغتشينغ     Kota Chongqing       Chongqing
11             卡拉奇         كراتشي            Karachi         Karachi
12             金沙萨        كينشاسا      Kota Kinshasa        Kinshasa
13             拉各斯          لاغوس         Kota Lagos           Lagos
14           伊斯坦布尔        اسطنبول           Istanbul        Istanbul
15         布宜诺斯艾利斯     بوينس آيرس       Buenos Aires    Buenos Aires
16            加尔各答        كولكاتا            Kolkata         Kolkata
17             马尼拉         مانيلا        Kota Manila          Manila
18              广州       قوانغتشو     Kota Guangzhou       Guangzhou
19              天津        تيانجين       Kota Tianjin         Tianjin

     city_in_Tamil  ... en_posiciones sp_posiciones ch_posiciones  \
0         டோக்கியோ  ...          5872          7624          4662
1           டெல்லி  ...          4853         22845         11384
2         ஷாங்காய்  ...          9021         26129           344
3           டாக்கா  ...         22451        217225         82180
4        சாவ் பாலோ  ...         24092          1136         27780
5           கெய்ரோ  ...         12249         14915         27651
6   மெக்சிகோ நகரம்  ...          2258           810         36649
7         பெய்ஜிங்  ...          7223         11110           172
8           மும்பை  ...          6388         30581         35115
9            ஒசாகா  ...         20495         23167          4818
10        சோங்கிங்  ...         45959         76342          1451
11         கராச்சி  ...         21056         81600         65375
12        கின்ஷாசா  ...         67647         99986        163932
13          லாகோஸ்  ...         17041         10952         98664
14     இஸ்தான்புல்  ...         12656        479219         26448
15  பியூனஸ் அயர்ஸ்  ...         15101           854         48322
16       கொல்கத்தா  ...         15268         32627         61341
17           மணிலா  ...         12339         22288         30532
18        குவாங்சோ  ...         26711         14439          1114
19      தியான்ஜின்  ...         42219         71455          1374

   sw_posiciones ta_posiciones tr_posiciones fn_posiciones jp_posiciones  \
0           4852         21427          8728         23280           211
1           6482          2558         29739         48244         23766
2           9130         47973         31958         22204          5165
3          19070         22134        117593        247733         59505
4           5076         26236         27514         16688         24286
5           5852         31985         13538         72933         14539
6           2565         12063          9028         24562         48184
7           5001         21351         11795         38503          5261
8           8969          1545         74960         57816         43246
9          12672        151229         31918         38314           428
10         84346        177294        350718        153285         31453
11          9797         26069        106496        206055         79522
12          3885        163932        191384        165866        103983
13          3457        154897         67357         92270         79325
14          3851         41901            70         25288         23117
15          6101        271710         29893         34561         30170
16          8407          5449        130744        375263         73906
17         13420         28598         61945         76390         17933
18         23404        203616         60378        104035         19169
19         49341        318362        121022        138260         16721

   ko_posiciones viet_posiciones
0            681            4183
1           6829           20922
2            867            7914
3          71855           55995
4          18481           70471
5          15093           16759
6           1968            4650
7            879            4145
8          35831           20714
9           1216           13036
10         29664           32068
11        120255           41026
12        204840           64198
13         36704           47668
14          2979           14775
15         63096          259812
16         77960           34104
17         16123           10573
18         11820           11502
19         24155            7350

[20 rows x 28 columns]

⚠️ Ciudades en vietnamita sin posición asignada (total: 25):

    city_in_Vietnamese viet_posiciones
59             Haerbin            none
182           Incheong            none
257               Lômê            none
307              Phải.            none
313         aurangabad            none
331           Qiqihaer            none
375           amritsar            none
436              Ruian            none
483            Bazhong            none
487          Saharapur            none
499           Shimkent            none
513            Ikorodu            none
566            Guiping            none
571             Xintai            none
616              Xinyu            none
622               taiz            none
673             Kuerle            none
674         Soshanguve            none
682     Hufuf-Mubarraz            none
708           Orumiyeh            none
729        Sulaymaniya            none
735         Dasmarinas            none
748           amravati            none
756            Oshogbo            none
759     Erduosi-Ordoss            none

In [33]:
# 🔹 1. Cargar los dos CSVs de posiciones en árabe
df_original_ar = pd.read_csv('posiciones_ciudades_AR.csv')
df_corregidas_ar = pd.read_csv('posiciones_ciudades_corregidas_AR.csv')

# 🔹 2. Convertir la columna 'posición' a numérico
df_original_ar['posición'] = pd.to_numeric(df_original_ar['posición'], errors='coerce')
df_corregidas_ar['posición'] = pd.to_numeric(df_corregidas_ar['posición'], errors='coerce')

# 🔹 3. Concatenar y ordenar
df_final_ar = pd.concat([df_original_ar, df_corregidas_ar]).sort_values(by=['palabra', 'posición'])
df_final_ar = df_final_ar.drop_duplicates(subset=['palabra'], keep='first')

# 🔹 4. Orden final
df_final_ar = df_final_ar.sort_values(by='posición', na_position='last')
df_final_ar['posición'] = df_final_ar['posición'].apply(lambda x: 'none' if pd.isna(x) else int(x))

# 🔹 5. Merge limpio (evitamos duplicados)
if 'ar_posiciones' in df_cities.columns:
    df_cities = df_cities.drop(columns=['ar_posiciones'])

df_cities = df_cities.merge(
    df_final_ar.rename(columns={'palabra': 'city_in_Arabic', 'posición': 'ar_posiciones'}), 
    on='city_in_Arabic', 
    how='left'
)

# 🔹 6. Verificar faltantes
missing_ar = df_cities[df_cities['ar_posiciones'].isin(['none', 0]) | df_cities['ar_posiciones'].isna()]

# 🔹 7. Imprimir TODO el DataFrame completo para validar
print("\n✅ DataFrame completo con 'ar_posiciones' agregado:\n")
print(df_cities.head(20))

print(f"\n⚠️ Ciudades en árabe sin posición asignada (total: {len(missing_ar)}):\n")
print(missing_ar[['city_in_Arabic', 'ar_posiciones']])

✅ DataFrame completo con 'ar_posiciones' agregado:

    population          city      country      continent     city_in_Spanish  \
0     37115000         Tokyo        Japan           Asia               Tokio
1     33807400         Delhi        India           Asia               Delhi
2     29867900      Shanghai        China           Asia  Llevar a la fuerza
3     23935700         Dhaka   Bangladesh           Asia               Dacca
4     22806700     Sao Paulo       Brazil  South America           San Pablo
5     22623900         Cairo        Egypt         Africa            El Cairo
6     22505300   Mexico City       Mexico  North America    Ciudad de México
7     22189100       Beijing        China           Asia               Pekín
8     21673100        Mumbai        India           Asia              Bombay
9     18967500         Osaka        Japan           Asia               Osaka
10    17773900     Chongqing        China           Asia           Chongqing
11    17648600       Karachi     Pakistan           Asia             Karachi
12    17032300      Kinshasa     DR Congo         Africa            Kinshasa
13    16536000         Lagos      Nigeria         Africa               Lagos
14    16047400      Istanbul       Turkey           Asia            Estanbul
15    15618300  Buenos Aires    Argentina  South America        Buenos Aires
16    15570800       Kolkata        India           Asia             Calcuta
17    14942000        Manila  Philippines           Asia              Manila
18    14590100     Guangzhou        China           Asia              Cantón
19    14470900       Tianjin        China           Asia             Tianjin

   city_in_Chinese city_in_Arabic city_in_Indonesian city_in_Swahili  \
0               东京          طوكيو              Tokyo           Tokyo
1               德里           دلهي              Delhi           Delhi
2               上海         شنغهاي      Kota Shanghai        Shanghai
3               达卡            دكا         Kota Dhaka           Dhaka
4              圣保罗      ساو باولو          Sao Paulo       São Paulo
5               开罗        القاهرة              Kairo           Cairo
6             墨西哥城   مدينة مكسيكو       Kota Meksiko     Mexico City
7               北京           بكين       Kota Beijing         Beijing
8               孟买         مومباي             Mumbai          Mumbai
9               大阪         أوساكا              Osaka           Osaka
10              重庆     تشونغتشينغ     Kota Chongqing       Chongqing
11             卡拉奇         كراتشي            Karachi         Karachi
12             金沙萨        كينشاسا      Kota Kinshasa        Kinshasa
13             拉各斯          لاغوس         Kota Lagos           Lagos
14           伊斯坦布尔        اسطنبول           Istanbul        Istanbul
15         布宜诺斯艾利斯     بوينس آيرس       Buenos Aires    Buenos Aires
16            加尔各答        كولكاتا            Kolkata         Kolkata
17             马尼拉         مانيلا        Kota Manila          Manila
18              广州       قوانغتشو     Kota Guangzhou       Guangzhou
19              天津        تيانجين       Kota Tianjin         Tianjin

     city_in_Tamil  ... sp_posiciones ch_posiciones sw_posiciones  \
0         டோக்கியோ  ...          7624          4662          4852
1           டெல்லி  ...         22845         11384          6482
2         ஷாங்காய்  ...         26129           344          9130
3           டாக்கா  ...        217225         82180         19070
4        சாவ் பாலோ  ...          1136         27780          5076
5           கெய்ரோ  ...         14915         27651          5852
6   மெக்சிகோ நகரம்  ...           810         36649          2565
7         பெய்ஜிங்  ...         11110           172          5001
8           மும்பை  ...         30581         35115          8969
9            ஒசாகா  ...         23167          4818         12672
10        சோங்கிங்  ...         76342          1451         84346
11         கராச்சி  ...         81600         65375          9797
12        கின்ஷாசா  ...         99986        163932          3885
13          லாகோஸ்  ...         10952         98664          3457
14     இஸ்தான்புல்  ...        479219         26448          3851
15  பியூனஸ் அயர்ஸ்  ...           854         48322          6101
16       கொல்கத்தா  ...         32627         61341          8407
17           மணிலா  ...         22288         30532         13420
18        குவாங்சோ  ...         14439          1114         23404
19      தியான்ஜின்  ...         71455          1374         49341

   ta_posiciones tr_posiciones fn_posiciones jp_posiciones ko_posiciones  \
0          21427          8728         23280           211           681
1           2558         29739         48244         23766          6829
2          47973         31958         22204          5165           867
3          22134        117593        247733         59505         71855
4          26236         27514         16688         24286         18481
5          31985         13538         72933         14539         15093
6          12063          9028         24562         48184          1968
7          21351         11795         38503          5261           879
8           1545         74960         57816         43246         35831
9         151229         31918         38314           428          1216
10        177294        350718        153285         31453         29664
11         26069        106496        206055         79522        120255
12        163932        191384        165866        103983        204840
13        154897         67357         92270         79325         36704
14         41901            70         25288         23117          2979
15        271710         29893         34561         30170         63096
16          5449        130744        375263         73906         77960
17         28598         61945         76390         17933         16123
18        203616         60378        104035         19169         11820
19        318362        121022        138260         16721         24155

   viet_posiciones ar_posiciones
0             4183          7813
1            20922         30765
2             7914         26213
3            55995         64010
4            70471         17991
5            16759           614
6             4650         25034
7             4145         10633
8            20714         27677
9            13036         31191
10           32068        182359
11           41026         43458
12           64198         95616
13           47668         67383
14           14775          6879
15          259812         23145
16           34104        156095
17           10573         40173
18           11502        115388
19            7350         97822

[20 rows x 29 columns]

⚠️ Ciudades en árabe sin posición asignada (total: 0):

Empty DataFrame
Columns: [city_in_Arabic, ar_posiciones]
Index: []

In [34]:
# 🔹 1. Cargar los dos CSVs de posiciones en indonesio
df_original_id = pd.read_csv('posiciones_ciudades_ID.csv')
df_corregidas_id = pd.read_csv('posiciones_ciudades_corregidas_ID.csv')

# 🔹 2. Convertir la columna 'posición' a numérico
df_original_id['posición'] = pd.to_numeric(df_original_id['posición'], errors='coerce')
df_corregidas_id['posición'] = pd.to_numeric(df_corregidas_id['posición'], errors='coerce')

# 🔹 3. Concatenar y ordenar
df_final_id = pd.concat([df_original_id, df_corregidas_id]).sort_values(by=['palabra', 'posición'])
df_final_id = df_final_id.drop_duplicates(subset=['palabra'], keep='first')

# 🔹 4. Orden final
df_final_id = df_final_id.sort_values(by='posición', na_position='last')
df_final_id['posición'] = df_final_id['posición'].apply(lambda x: 'none' if pd.isna(x) else int(x))

# 🔹 5. Definir la función de limpieza para las ciudades en indonesio
def remover_kota_y_bahasa(nombre_ciudad):
    if isinstance(nombre_ciudad, str):
        if nombre_ciudad.lower().startswith("kota "):
            nombre_ciudad = nombre_ciudad[5:]
        palabras_a_eliminar = ["Bahasa Indonesia:", "Bahasa", "Bahasa Indonesia", "Provinsi"]
        for palabra in palabras_a_eliminar:
            if nombre_ciudad.startswith(palabra):
                nombre_ciudad = nombre_ciudad[len(palabra):].strip()
    return nombre_ciudad.strip()

# 🔹 6. Crear la columna auxiliar en df_cities
df_cities['city_in_Indonesian_clean'] = df_cities['city_in_Indonesian'].apply(remover_kota_y_bahasa)

# 🔹 7. Merge usando la columna "clean"
if 'id_posiciones' in df_cities.columns:
    df_cities = df_cities.drop(columns=['id_posiciones'])

df_cities = df_cities.merge(
    df_final_id.rename(columns={'palabra': 'city_in_Indonesian_clean', 'posición': 'id_posiciones'}),
    on='city_in_Indonesian_clean', 
    how='left'
)

# 🔹 8. Verificar faltantes
missing_id = df_cities[df_cities['id_posiciones'].isin(['none', 0]) | df_cities['id_posiciones'].isna()]

# 🔹 9. Imprimir TODO el DataFrame completo para validar
print("\n✅ DataFrame completo con 'id_posiciones' agregado:\n")
print(df_cities.head(20))

print(f"\n⚠️ Ciudades en indonesio sin posición asignada (total: {len(missing_id)}):\n")
print(missing_id[['city_in_Indonesian', 'city_in_Indonesian_clean', 'id_posiciones']])

✅ DataFrame completo con 'id_posiciones' agregado:

    population          city      country      continent     city_in_Spanish  \
0     37115000         Tokyo        Japan           Asia               Tokio
1     33807400         Delhi        India           Asia               Delhi
2     29867900      Shanghai        China           Asia  Llevar a la fuerza
3     23935700         Dhaka   Bangladesh           Asia               Dacca
4     22806700     Sao Paulo       Brazil  South America           San Pablo
5     22623900         Cairo        Egypt         Africa            El Cairo
6     22505300   Mexico City       Mexico  North America    Ciudad de México
7     22189100       Beijing        China           Asia               Pekín
8     21673100        Mumbai        India           Asia              Bombay
9     18967500         Osaka        Japan           Asia               Osaka
10    17773900     Chongqing        China           Asia           Chongqing
11    17648600       Karachi     Pakistan           Asia             Karachi
12    17032300      Kinshasa     DR Congo         Africa            Kinshasa
13    16536000         Lagos      Nigeria         Africa               Lagos
14    16047400      Istanbul       Turkey           Asia            Estanbul
15    15618300  Buenos Aires    Argentina  South America        Buenos Aires
16    15570800       Kolkata        India           Asia             Calcuta
17    14942000        Manila  Philippines           Asia              Manila
18    14590100     Guangzhou        China           Asia              Cantón
19    14470900       Tianjin        China           Asia             Tianjin

   city_in_Chinese city_in_Arabic city_in_Indonesian city_in_Swahili  \
0               东京          طوكيو              Tokyo           Tokyo
1               德里           دلهي              Delhi           Delhi
2               上海         شنغهاي      Kota Shanghai        Shanghai
3               达卡            دكا         Kota Dhaka           Dhaka
4              圣保罗      ساو باولو          Sao Paulo       São Paulo
5               开罗        القاهرة              Kairo           Cairo
6             墨西哥城   مدينة مكسيكو       Kota Meksiko     Mexico City
7               北京           بكين       Kota Beijing         Beijing
8               孟买         مومباي             Mumbai          Mumbai
9               大阪         أوساكا              Osaka           Osaka
10              重庆     تشونغتشينغ     Kota Chongqing       Chongqing
11             卡拉奇         كراتشي            Karachi         Karachi
12             金沙萨        كينشاسا      Kota Kinshasa        Kinshasa
13             拉各斯          لاغوس         Kota Lagos           Lagos
14           伊斯坦布尔        اسطنبول           Istanbul        Istanbul
15         布宜诺斯艾利斯     بوينس آيرس       Buenos Aires    Buenos Aires
16            加尔各答        كولكاتا            Kolkata         Kolkata
17             马尼拉         مانيلا        Kota Manila          Manila
18              广州       قوانغتشو     Kota Guangzhou       Guangzhou
19              天津        تيانجين       Kota Tianjin         Tianjin

     city_in_Tamil  ... sw_posiciones ta_posiciones tr_posiciones  \
0         டோக்கியோ  ...          4852         21427          8728
1           டெல்லி  ...          6482          2558         29739
2         ஷாங்காய்  ...          9130         47973         31958
3           டாக்கா  ...         19070         22134        117593
4        சாவ் பாலோ  ...          5076         26236         27514
5           கெய்ரோ  ...          5852         31985         13538
6   மெக்சிகோ நகரம்  ...          2565         12063          9028
7         பெய்ஜிங்  ...          5001         21351         11795
8           மும்பை  ...          8969          1545         74960
9            ஒசாகா  ...         12672        151229         31918
10        சோங்கிங்  ...         84346        177294        350718
11         கராச்சி  ...          9797         26069        106496
12        கின்ஷாசா  ...          3885        163932        191384
13          லாகோஸ்  ...          3457        154897         67357
14     இஸ்தான்புல்  ...          3851         41901            70
15  பியூனஸ் அயர்ஸ்  ...          6101        271710         29893
16       கொல்கத்தா  ...          8407          5449        130744
17           மணிலா  ...         13420         28598         61945
18        குவாங்சோ  ...         23404        203616         60378
19      தியான்ஜின்  ...         49341        318362        121022

   fn_posiciones jp_posiciones ko_posiciones viet_posiciones ar_posiciones  \
0          23280           211           681            4183          7813
1          48244         23766          6829           20922         30765
2          22204          5165           867            7914         26213
3         247733         59505         71855           55995         64010
4          16688         24286         18481           70471         17991
5          72933         14539         15093           16759           614
6          24562         48184          1968            4650         25034
7          38503          5261           879            4145         10633
8          57816         43246         35831           20714         27677
9          38314           428          1216           13036         31191
10        153285         31453         29664           32068        182359
11        206055         79522        120255           41026         43458
12        165866        103983        204840           64198         95616
13         92270         79325         36704           47668         67383
14         25288         23117          2979           14775          6879
15         34561         30170         63096          259812         23145
16        375263         73906         77960           34104        156095
17         76390         17933         16123           10573         40173
18        104035         19169         11820           11502        115388
19        138260         16721         24155            7350         97822

   city_in_Indonesian_clean id_posiciones
0                     Tokyo          2298
1                     Delhi          9167
2                  Shanghai          7038
3                     Dhaka         26585
4                 Sao Paulo         20592
5                     Kairo         10425
6                   Meksiko          3434
7                   Beijing          5541
8                    Mumbai         12558
9                     Osaka          6524
10                Chongqing         30963
11                  Karachi         28691
12                 Kinshasa         44421
13                    Lagos         37536
14                 Istanbul          8014
15             Buenos Aires         16036
16                  Kolkata         25044
17                   Manila         10009
18                Guangzhou         17043
19                  Tianjin         29673

[20 rows x 31 columns]

⚠️ Ciudades en indonesio sin posición asignada (total: 18):

    city_in_Indonesian city_in_Indonesian_clean id_posiciones
41               Xi'an                    Xi'an          none
59             Haerbin                  Haerbin          none
164            Huai'an                  Huai'an          none
331           Qiqihaer                 Qiqihaer          none
470             Pizhou                   Pizhou          none
517          Ma'anshan                Ma'anshan          none
588            Leiyang                  Leiyang          none
659       Kota Asgabat                  Asgabat          none
673             Kuerle                   Kuerle          none
678           Chertala                 Chertala          none
682     Hufuf Mubarraz           Hufuf Mubarraz          none
732              Anqiu                    Anqiu          none
743         Kayamkulam               Kayamkulam          none
756            Oshogbo                  Oshogbo          none
759      Erdosi-Ordoss            Erdosi-Ordoss          none
763             Yan'an                   Yan'an          none
777               Apa?                     Apa?          none
799            Dongtai                  Dongtai          none

In [35]:
# 🔹 1. Cargar los dos CSVs de posiciones en portugués
df_original_pt = pd.read_csv('posiciones_ciudades_PT.csv')
df_corregidas_pt = pd.read_csv('posiciones_ciudades_corregidas_PT.csv')

# 🔹 2. Asegurarse de que las columnas estén en el orden correcto
if df_original_pt.columns[0] == 'palabra':
    df_original_pt = df_original_pt[['posición', 'palabra']]

# 🔹 3. Convertir 'posición' a numérico
df_original_pt['posición'] = pd.to_numeric(df_original_pt['posición'], errors='coerce')
df_corregidas_pt['posición'] = pd.to_numeric(df_corregidas_pt['posición'], errors='coerce')

# 🔹 4. Combinar, ordenar y quitar duplicados priorizando posiciones válidas
df_combinado_pt = pd.concat([df_original_pt, df_corregidas_pt]).sort_values(by=['palabra', 'posición'])
df_final_pt = df_combinado_pt.drop_duplicates(subset='palabra', keep='first')
df_final_pt = df_final_pt.sort_values(by='posición', na_position='last')
df_final_pt['posición'] = df_final_pt['posición'].apply(lambda x: 'none' if pd.isna(x) else int(x))

# 🔹 5. Merge limpio con df_cities
if 'pt_posiciones' in df_cities.columns:
    df_cities = df_cities.drop(columns=['pt_posiciones'])

df_cities = df_cities.merge(
    df_final_pt.rename(columns={'palabra': 'city_in_Portuguese', 'posición': 'pt_posiciones'}), 
    on='city_in_Portuguese', 
    how='left'
)

# 🔹 6. Verificar faltantes
missing_pt = df_cities[df_cities['pt_posiciones'].isin(['none', 0]) | df_cities['pt_posiciones'].isna()]

# 🔹 7. Imprimir resultado completo
print("\n✅ DataFrame completo con 'pt_posiciones' agregado:\n")
print(df_cities.head(20))

print(f"\n⚠️ Ciudades en portugués sin posición asignada (total: {len(missing_pt)}):\n")
print(missing_pt[['city_in_Portuguese', 'pt_posiciones']])

✅ DataFrame completo con 'pt_posiciones' agregado:

    population          city      country      continent     city_in_Spanish  \
0     37115000         Tokyo        Japan           Asia               Tokio
1     33807400         Delhi        India           Asia               Delhi
2     29867900      Shanghai        China           Asia  Llevar a la fuerza
3     23935700         Dhaka   Bangladesh           Asia               Dacca
4     22806700     Sao Paulo       Brazil  South America           San Pablo
5     22623900         Cairo        Egypt         Africa            El Cairo
6     22505300   Mexico City       Mexico  North America    Ciudad de México
7     22189100       Beijing        China           Asia               Pekín
8     21673100        Mumbai        India           Asia              Bombay
9     18967500         Osaka        Japan           Asia               Osaka
10    17773900     Chongqing        China           Asia           Chongqing
11    17648600       Karachi     Pakistan           Asia             Karachi
12    17032300      Kinshasa     DR Congo         Africa            Kinshasa
13    16536000         Lagos      Nigeria         Africa               Lagos
14    16047400      Istanbul       Turkey           Asia            Estanbul
15    15618300  Buenos Aires    Argentina  South America        Buenos Aires
16    15570800       Kolkata        India           Asia             Calcuta
17    14942000        Manila  Philippines           Asia              Manila
18    14590100     Guangzhou        China           Asia              Cantón
19    14470900       Tianjin        China           Asia             Tianjin

   city_in_Chinese city_in_Arabic city_in_Indonesian city_in_Swahili  \
0               东京          طوكيو              Tokyo           Tokyo
1               德里           دلهي              Delhi           Delhi
2               上海         شنغهاي      Kota Shanghai        Shanghai
3               达卡            دكا         Kota Dhaka           Dhaka
4              圣保罗      ساو باولو          Sao Paulo       São Paulo
5               开罗        القاهرة              Kairo           Cairo
6             墨西哥城   مدينة مكسيكو       Kota Meksiko     Mexico City
7               北京           بكين       Kota Beijing         Beijing
8               孟买         مومباي             Mumbai          Mumbai
9               大阪         أوساكا              Osaka           Osaka
10              重庆     تشونغتشينغ     Kota Chongqing       Chongqing
11             卡拉奇         كراتشي            Karachi         Karachi
12             金沙萨        كينشاسا      Kota Kinshasa        Kinshasa
13             拉各斯          لاغوس         Kota Lagos           Lagos
14           伊斯坦布尔        اسطنبول           Istanbul        Istanbul
15         布宜诺斯艾利斯     بوينس آيرس       Buenos Aires    Buenos Aires
16            加尔各答        كولكاتا            Kolkata         Kolkata
17             马尼拉         مانيلا        Kota Manila          Manila
18              广州       قوانغتشو     Kota Guangzhou       Guangzhou
19              天津        تيانجين       Kota Tianjin         Tianjin

     city_in_Tamil  ... ta_posiciones tr_posiciones fn_posiciones  \
0         டோக்கியோ  ...         21427          8728         23280
1           டெல்லி  ...          2558         29739         48244
2         ஷாங்காய்  ...         47973         31958         22204
3           டாக்கா  ...         22134        117593        247733
4        சாவ் பாலோ  ...         26236         27514         16688
5           கெய்ரோ  ...         31985         13538         72933
6   மெக்சிகோ நகரம்  ...         12063          9028         24562
7         பெய்ஜிங்  ...         21351         11795         38503
8           மும்பை  ...          1545         74960         57816
9            ஒசாகா  ...        151229         31918         38314
10        சோங்கிங்  ...        177294        350718        153285
11         கராச்சி  ...         26069        106496        206055
12        கின்ஷாசா  ...        163932        191384        165866
13          லாகோஸ்  ...        154897         67357         92270
14     இஸ்தான்புல்  ...         41901            70         25288
15  பியூனஸ் அயர்ஸ்  ...        271710         29893         34561
16       கொல்கத்தா  ...          5449        130744        375263
17           மணிலா  ...         28598         61945         76390
18        குவாங்சோ  ...        203616         60378        104035
19      தியான்ஜின்  ...        318362        121022        138260

   jp_posiciones ko_posiciones viet_posiciones ar_posiciones  \
0            211           681            4183          7813
1          23766          6829           20922         30765
2           5165           867            7914         26213
3          59505         71855           55995         64010
4          24286         18481           70471         17991
5          14539         15093           16759           614
6          48184          1968            4650         25034
7           5261           879            4145         10633
8          43246         35831           20714         27677
9            428          1216           13036         31191
10         31453         29664           32068        182359
11         79522        120255           41026         43458
12        103983        204840           64198         95616
13         79325         36704           47668         67383
14         23117          2979           14775          6879
15         30170         63096          259812         23145
16         73906         77960           34104        156095
17         17933         16123           10573         40173
18         19169         11820           11502        115388
19         16721         24155            7350         97822

   city_in_Indonesian_clean id_posiciones pt_posiciones
0                     Tokyo          2298          9711
1                     Delhi          9167         86849
2                  Shanghai          7038         23932
3                     Dhaka         26585        151446
4                 Sao Paulo         20592          5981
5                     Kairo         10425         18020
6                   Meksiko          3434          2379
7                   Beijing          5541         10715
8                    Mumbai         12558         45324
9                     Osaka          6524         25871
10                Chongqing         30963         95122
11                  Karachi         28691        181724
12                 Kinshasa         44421         86735
13                    Lagos         37536         12289
14                 Istanbul          8014         17389
15             Buenos Aires         16036          5505
16                  Kolkata         25044         39740
17                   Manila         10009         38657
18                Guangzhou         17043         45523
19                  Tianjin         29673         61318

[20 rows x 32 columns]

⚠️ Ciudades en portugués sin posición asignada (total: 73):

    city_in_Portuguese pt_posiciones
59             Haerbin          none
88              Jiddah          none
96              Shatou          none
111            Ekureni          none
112         Malappuram          none
..                 ...           ...
769           Dengzhou          none
771           Malegaon          none
779           Maturina          none
783              Sigot          none
788             Dazhou          none

[73 rows x 2 columns]

In [36]:
# 🔹 1. Cargar los dos CSVs de posiciones en francés
df_original_fr = pd.read_csv('posiciones_ciudades_FR.csv')
df_corregidas_fr = pd.read_csv('posiciones_ciudades_corregidas_FR.csv')

# 🔹 2. Asegurar orden correcto de columnas
if df_original_fr.columns[0] == 'palabra':
    df_original_fr = df_original_fr[['posición', 'palabra']]

# 🔹 3. Convertir 'posición' a numérico
df_original_fr['posición'] = pd.to_numeric(df_original_fr['posición'], errors='coerce')
df_corregidas_fr['posición'] = pd.to_numeric(df_corregidas_fr['posición'], errors='coerce')

# 🔹 4. Combinar, ordenar y quitar duplicados priorizando posiciones válidas
df_combinado_fr = pd.concat([df_original_fr, df_corregidas_fr])
df_combinado_fr = df_combinado_fr.sort_values(by=['palabra', 'posición'], na_position='last')
df_final_fr = df_combinado_fr.drop_duplicates(subset='palabra', keep='first')

# 🔹 5. Ordenar por posición y reemplazar NaN por 'none'
df_final_fr = df_final_fr.sort_values(by='posición', na_position='last')
df_final_fr['posición'] = df_final_fr['posición'].apply(lambda x: 'none' if pd.isna(x) else int(x))

# 🔹 6. Merge limpio (evitamos duplicados)
if 'fr_posiciones' in df_cities.columns:
    df_cities = df_cities.drop(columns=['fr_posiciones'])

df_cities = df_cities.merge(
    df_final_fr.rename(columns={'palabra': 'city_in_French', 'posición': 'fr_posiciones'}), 
    on='city_in_French', 
    how='left'
)

# 🔹 7. Verificar faltantes
missing_fr = df_cities[df_cities['fr_posiciones'].isin(['none', 0]) | df_cities['fr_posiciones'].isna()]

# 🔹 8. Imprimir resultado
print("\n✅ DataFrame completo con 'fr_posiciones' agregado:\n")
print(df_cities.head(20))

print(f"\n⚠️ Ciudades en francés sin posición asignada (total: {len(missing_fr)}):\n")
print(missing_fr[['city_in_French', 'fr_posiciones']])

✅ DataFrame completo con 'fr_posiciones' agregado:

    population          city      country      continent     city_in_Spanish  \
0     37115000         Tokyo        Japan           Asia               Tokio
1     33807400         Delhi        India           Asia               Delhi
2     29867900      Shanghai        China           Asia  Llevar a la fuerza
3     23935700         Dhaka   Bangladesh           Asia               Dacca
4     22806700     Sao Paulo       Brazil  South America           San Pablo
5     22623900         Cairo        Egypt         Africa            El Cairo
6     22505300   Mexico City       Mexico  North America    Ciudad de México
7     22189100       Beijing        China           Asia               Pekín
8     21673100        Mumbai        India           Asia              Bombay
9     18967500         Osaka        Japan           Asia               Osaka
10    17773900     Chongqing        China           Asia           Chongqing
11    17648600       Karachi     Pakistan           Asia             Karachi
12    17032300      Kinshasa     DR Congo         Africa            Kinshasa
13    16536000         Lagos      Nigeria         Africa               Lagos
14    16047400      Istanbul       Turkey           Asia            Estanbul
15    15618300  Buenos Aires    Argentina  South America        Buenos Aires
16    15570800       Kolkata        India           Asia             Calcuta
17    14942000        Manila  Philippines           Asia              Manila
18    14590100     Guangzhou        China           Asia              Cantón
19    14470900       Tianjin        China           Asia             Tianjin

   city_in_Chinese city_in_Arabic city_in_Indonesian city_in_Swahili  \
0               东京          طوكيو              Tokyo           Tokyo
1               德里           دلهي              Delhi           Delhi
2               上海         شنغهاي      Kota Shanghai        Shanghai
3               达卡            دكا         Kota Dhaka           Dhaka
4              圣保罗      ساو باولو          Sao Paulo       São Paulo
5               开罗        القاهرة              Kairo           Cairo
6             墨西哥城   مدينة مكسيكو       Kota Meksiko     Mexico City
7               北京           بكين       Kota Beijing         Beijing
8               孟买         مومباي             Mumbai          Mumbai
9               大阪         أوساكا              Osaka           Osaka
10              重庆     تشونغتشينغ     Kota Chongqing       Chongqing
11             卡拉奇         كراتشي            Karachi         Karachi
12             金沙萨        كينشاسا      Kota Kinshasa        Kinshasa
13             拉各斯          لاغوس         Kota Lagos           Lagos
14           伊斯坦布尔        اسطنبول           Istanbul        Istanbul
15         布宜诺斯艾利斯     بوينس آيرس       Buenos Aires    Buenos Aires
16            加尔各答        كولكاتا            Kolkata         Kolkata
17             马尼拉         مانيلا        Kota Manila          Manila
18              广州       قوانغتشو     Kota Guangzhou       Guangzhou
19              天津        تيانجين       Kota Tianjin         Tianjin

     city_in_Tamil  ... tr_posiciones fn_posiciones jp_posiciones  \
0         டோக்கியோ  ...          8728         23280           211
1           டெல்லி  ...         29739         48244         23766
2         ஷாங்காய்  ...         31958         22204          5165
3           டாக்கா  ...        117593        247733         59505
4        சாவ் பாலோ  ...         27514         16688         24286
5           கெய்ரோ  ...         13538         72933         14539
6   மெக்சிகோ நகரம்  ...          9028         24562         48184
7         பெய்ஜிங்  ...         11795         38503          5261
8           மும்பை  ...         74960         57816         43246
9            ஒசாகா  ...         31918         38314           428
10        சோங்கிங்  ...        350718        153285         31453
11         கராச்சி  ...        106496        206055         79522
12        கின்ஷாசா  ...        191384        165866        103983
13          லாகோஸ்  ...         67357         92270         79325
14     இஸ்தான்புல்  ...            70         25288         23117
15  பியூனஸ் அயர்ஸ்  ...         29893         34561         30170
16       கொல்கத்தா  ...        130744        375263         73906
17           மணிலா  ...         61945         76390         17933
18        குவாங்சோ  ...         60378        104035         19169
19      தியான்ஜின்  ...        121022        138260         16721

   ko_posiciones viet_posiciones ar_posiciones city_in_Indonesian_clean  \
0            681            4183          7813                    Tokyo
1           6829           20922         30765                    Delhi
2            867            7914         26213                 Shanghai
3          71855           55995         64010                    Dhaka
4          18481           70471         17991                Sao Paulo
5          15093           16759           614                    Kairo
6           1968            4650         25034                  Meksiko
7            879            4145         10633                  Beijing
8          35831           20714         27677                   Mumbai
9           1216           13036         31191                    Osaka
10         29664           32068        182359                Chongqing
11        120255           41026         43458                  Karachi
12        204840           64198         95616                 Kinshasa
13         36704           47668         67383                    Lagos
14          2979           14775          6879                 Istanbul
15         63096          259812         23145             Buenos Aires
16         77960           34104        156095                  Kolkata
17         16123           10573         40173                   Manila
18         11820           11502        115388                Guangzhou
19         24155            7350         97822                  Tianjin

   id_posiciones pt_posiciones fr_posiciones
0           2298          9711          4489
1           9167         86849         18535
2           7038         23932          9126
3          26585        151446        121629
4          20592          5981          9062
5          10425         18020          9815
6           3434          2379          3681
7           5541         10715          7359
8          12558         45324         45675
9           6524         25871         17932
10         30963         95122         58864
11         28691        181724         47582
12         44421         86735         17479
13         37536         12289         31970
14          8014         17389          9726
15         16036          5505          9469
16         25044         39740        109040
17         10009         38657         31197
18         17043         45523         45766
19         29673         61318         45397

[20 rows x 33 columns]

⚠️ Ciudades en francés sin posición asignada (total: 66):

      city_in_French fr_posiciones
59           Haerbin          none
88            Jiddah          none
96            Shatou          none
100      Shijazhuang          none
111          Ekureni          none
..               ...           ...
779         Maturine          none
784         Torchage          none
785       Crépracine          none
789  SUINGER SICHUAN          none
798           Bacoor          none

[66 rows x 2 columns]

In [38]:

# 🔹 2. Guardar el DataFrame consolidado
df_cities.to_csv('ciudades_con_posiciones_final.csv', index=False)
print("📂 Archivo 'ciudades_con_posiciones_final.csv' guardado correctamente.")

📂 Archivo 'ciudades_con_posiciones_final.csv' guardado correctamente.

In [39]:
# 🔹 3. Leer el CSV guardado para verificar las columnas
df_verificacion = pd.read_csv('ciudades_con_posiciones_final.csv')

# 🔹 4. Imprimir columnas disponibles
print("\n🗂️ Columnas del archivo guardado:\n")
print(df_verificacion.columns.tolist())

🗂️ Columnas del archivo guardado:

['population', 'city', 'country', 'continent', 'city_in_Spanish', 'city_in_Chinese', 'city_in_Arabic', 'city_in_Indonesian', 'city_in_Swahili', 'city_in_Tamil', 'city_in_Turkish', 'city_in_Finnish', 'city_in_Japanese', 'city_in_Korean', 'city_in_Vietnamese', 'city_in_Thai', 'city_in_Portuguese', 'city_in_French', 'en_posiciones', 'sp_posiciones', 'ch_posiciones', 'sw_posiciones', 'ta_posiciones', 'tr_posiciones', 'fn_posiciones', 'jp_posiciones', 'ko_posiciones', 'viet_posiciones', 'ar_posiciones', 'city_in_Indonesian_clean', 'id_posiciones', 'pt_posiciones', 'fr_posiciones']